﻿
@{
    Layout = "~/Areas/Medico/Views/Shared/MasterPage.cshtml";
}

<div id="FormModificarMedico" class="card">

    <div class="card-header d-flex">
        <h3 class="LB_Modificar text-center">Modificar</h3>
    </div>

    <div class="card-body">
        <input type="hidden" id="TB_Id" />

        <div class="card">
            <div class="card-header">
                <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
            </div>

            <div class="card-body">
                <form id="FormDatosBasicos">
                    <div class="form-group">
                        <label class="LB_Identificacion">Identificacion</label>
                        <input disabled id="Identificacion" name="Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Nombre">Nombre</label>
                            <input disabled id="Nombre" name="Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Apellido">Apellido</label>
                            <input disabled id="Apellido" name="Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Correo">Correo</label>
                            <input id="Correo" name="Correo" class="campo_vacio email_valido form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Telefono">Telefono</label>
                            <input id="Telefono" name="Telefono" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <h1 class="material-icons" style="font-size: 2rem;">list_alt</h1>
            </div>

            <div class="card-body">
                <div class="row">
                    <div id="FormEspecialidad" class="col-md-6">
                        <div class="form-group">
                            <label class="LB_Especialidad">Especialidad</label>
                            <input disabled type="text" id="Especialidad" name="Especialidad" class="form-control"/>
                        </div>
                    </div>

                    <div id="FormConsultorio" class="col-md-6">
                        <div class="form-group">
                            <label class="LB_Consultorio">Consultorio</label>
                            <input disabled type="text" id="Consultorio" name="Consultorio" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
            </div>

            <div class="card-body">
                <form id="FormCambiarContrasena" class="d-flex flex-column">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label class="LB_Contrasena">Contraseña</label>
                            <input value="" id="Contrasena" name="Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_NuevaContrasena">Nueva contraseña</label>
                            <input value="" id="NuevaContrasena" name="NuevaContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_RepetirNuevaContrasena">Repetir nueva contraseña</label>
                            <input value="" id="RepetirNuevaContrasena" name="RepetirNuevaContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var FormDatosBasicos = $("#FormDatosBasicos");
    var TB_Id = document.getElementById("TB_Id");
    var Identificacion = document.getElementById("Identificacion");
    var Nombre = document.getElementById("Nombre");
    var Apellido = document.getElementById("Apellido");
    var Correo = document.getElementById("Correo");
    var Telefono = document.getElementById("Telefono");
    var Especialidad = document.getElementById("Especialidad");
    var Consultorio = document.getElementById("Consultorio");
    var Contrasena = document.getElementById("Contrasena");
    var NuevaContrasena = document.getElementById("NuevaContrasena");
    var RepetirNuevaContrasena = document.getElementById("RepetirNuevaContrasena");

    getMedico();

    function getMedico() {
        var url = "/Medico/MisDatos/getMedico";

        var data = {
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarDatosMedico(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarDatosMedico(medico) {
        console.log(medico);

        TB_Id.value = medico.IdStr;
        Identificacion.value = medico.Identificacion;
        Nombre.value = medico.Nombre;
        Apellido.value = medico.Apellido;
        Correo.value = medico.Correo;
        Telefono.value = medico.Telefono;
        Especialidad.value = medico.EEspecialidad.Nombre;
        Consultorio.value = medico.EConsultorio.Nombre;
    }

    FormDatosBasicos.submit(
        function (event) {
            event.preventDefault();

            FormDatosBasicos.validate();

            if (FormDatosBasicos.valid()) {
                cambiarDatosBasicos();
            }
        }
    );

    function cambiarDatosBasicos() {
        var url = "/Medico/MisDatos/modificarDatosBasicos";

        var data = {
            Correo: Correo.value.trim(),
            Telefono: Telefono.value.trim(),
            IdMedico: TB_Id.value,
            IdAcceso: getAcceso().Id
        }

        console.log(data);

        $.post(url, data).done(
            function (respuesta) {
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    var FormCambiarContrasena = $("#FormCambiarContrasena");

    FormCambiarContrasena.submit(
        function (event) {
            event.preventDefault();

            FormCambiarContrasena.validate({
                rules: {
                    RepetirNuevaContrasena: {
                        equalTo: "#NuevaContrasena"
                    }
                },
                messages: {
                    RepetirNuevaContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormCambiarContrasena.valid()) {
                cambiarContrasena();
            }
        }
    );

    function cambiarContrasena() {
        var url = "/Medico/MisDatos/modificarContrasena";

        var data = {
            Contrasena: Contrasena.value.trim(),
            NuevaContrasena: NuevaContrasena.value.trim(),
            IdMedico: TB_Id.value,
            IdAcceso: getAcceso().Id
        }

        console.log(data);

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO)
                    FormCambiarContrasena[0].reset();

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

</script>