﻿﻿
@{
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}
<h2 class="LB_GestionarMedicos text-center p-4">Gestionar medicos</h2>

<div id="ContenedorAgregar" class="p-4">
        <form id="FormAgregar" class="card">
            <div class="card-header">
                <h3 class="LB_Agregar text-center">Agregar</h3>
            </div>

            <div class="card-body d-flex flex-column">
                <div class="card">
                    <div class="card-header">
                        <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label class="LB_Identificacion">Identificacion</label>
                            <input name="TB_Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Nombre">Nombres</label>
                                <input name="TB_Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Apellido">Apellidos</label>
                                <input name="TB_Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Correo">Correo</label>
                                <input name="TB_Correo" class="campo_vacio email_valido form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Telefono">Telefono</label>
                                <input name="TB_Telefono" class="campo_vacio caracteres_especiales form-control" type="tel" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h1 class="material-icons" style="font-size: 2rem;">list_alt</h1>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="LB_Especialidad">Especialidad</label>

                                <select id="DDL_EspecialidadAgregar" name="Especialidad" class="form-control campo_vacio">

                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="LB_Consultorio">Consultorio</label>

                                <select id="DDL_ConsultorioAgregar" name="Consultorio" class="form-control campo_vacio">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
                    </div>

                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Contrasena">Contraseña</label>
                                <input id="TB_ContrasenaAgregar" name="TB_Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_RepetirContrasena">Repetir contraseña</label>
                                <input name="TB_RepetirContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center p-3">
                    <button class="material-icons btn btn-success">add</button>
                </div>
            </div>
        </form>
    </div>


<div id="ContenedorModificar" class="p-4">
    <div id="FormModificar" class="card">

        <div class="card-header d-flex">
            <input type="hidden" id="TB_Id" value="" />

            <div class="col-11">
                <h3 class="LB_Modificar text-center">Modificar</h3>
            </div>

            <div class="col-1">
                <button onclick="mostrarAgregar()" class="material-icons btn btn-danger">close</button>
            </div>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
                </div>

                <div class="card-body">
                    <form id="FormDatosBasicos">
                        <div class="form-group">
                            <label class="LB_Identificacion">Identificacion</label>
                            <input name="TB_Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Nombre">Nombre</label>
                                <input name="TB_Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Apellido">Apellido</label>
                                <input name="TB_Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Correo">Correo</label>
                                <input name="TB_Correo" class="campo_vacio email_valido form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Telefono">Telefono</label>
                                <input name="TB_Telefono" class="campo_vacio caracteres_especiales form-control" type="tel" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="material-icons btn btn-info">edit</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">list_alt</h1>
                </div>

                <div class="card-body">
                    <div class="row">
                        <form id="FormEspecialidad" class="col-md-6">
                            <div class="form-group">
                                <label class="LB_Especialidad">Especialidad</label>

                                <select id="DDL_EspecialidadModificar" name="DDL_EspecialidadModificar" class="form-control campo_vacio">
                                    <option class="LB_Seleccione" value="">Seleccione</option>

                                </select>
                            </div>

                            <button class="material-icons btn btn-info">edit</button>
                        </form>

                        <form id="FormConsultorio" class="col-md-6">
                            <div class="form-group">
                                <label class="LB_Consultorio">Consultorio</label>

                                <select id="DDL_ConsultorioModificar" name="DDL_EspecialidadModificar" class="form-control campo_vacio">
                                    <option class="LB_Seleccione" value="">Seleccione</option>
                                    <option class="LB_Ninguno" value="-1">Ninguno</option>

                                </select>
                            </div>

                            <button class="material-icons btn btn-info">edit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="LB_Estado">Estado</h4>
                </div>

                <div class="card-body">
                    <button id="BTN_Activar" onclick="activarClick()" class="material-icons btn btn-success">check</button>
                    <button id="BTN_Desactivar" onclick="desactivarClick()" class="material-icons btn btn-danger">close</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
                </div>

                <div class="card-body">
                    <form id="FormCambiarContrasena" class="d-flex flex-column">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Contrasena">Contraseña</label>
                                <input value="" id="TB_ContrasenaModificar" name="TB_ContrasenaModificar" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_RepetirContrasena">Repetir contraseña</label>
                                <input value="" name="TB_RepetirContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="material-icons btn btn-info">edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="FormBuscar" class="form-inline justify-content-center p-4">
    <div class="d-flex flex-column">
        <input class="form-control caracteres_especiales" type="search" id="ParametroBusqueda" name="ParametroBusqueda" value="" />
    </div>
    <button class="material-icons btn btn-primary">search</button>
</form>

<div id="GV_Medicos" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Identificacion">Identificacion</th>
                <th class="LB_Nombre">Nombre</th>
                <th class="LB_Apellido">Apellido</th>
                <th class="LB_Correo">Correo</th>
                <th class="LB_Telefono">Telefono</th>
                <th class="LB_Contrasena">Contraseña</th>
                <th class="LB_Especialidad">Especialidad</th>
                <th class="LB_Concultorio">Consultorio</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
</div>


<script>

    //  Variables

    var FormAgregar = $("#FormAgregar");
    var FormBuscar = $("#FormBuscar");
    var ContenedorAgregar = $("#ContenedorAgregar");
    var ContenedorModificar = $("#ContenedorModificar");
    var GV_Medicos = document.getElementById("GV_Medicos");

    var FormDatosBasicos = $("#FormDatosBasicos");
    var FormEspecialidad = $("#FormEspecialidad");
    var FormConsultorio = $("#FormConsultorio");
    var FormCambiarContrasena = $("#FormCambiarContrasena");


    // Configuracion inicial
    getEspecialidades();
    getConsultorios();
    mostrarAgregar();
    buscar("");


    //  Acciones

    function mostrarAgregar() {
        ContenedorAgregar.show();
        ContenedorModificar.hide();
    }

    function mostrarModificar() {
        ContenedorAgregar.hide();
        ContenedorModificar.show();
    }


    function agregar() {
        var url = "/Administrador/VerMedicos/agregarMedico";

        var data = {
            Identificacion: FormAgregar.find("[name=TB_Identificacion]")[0].value.trim(),
            Nombre: FormAgregar.find("[name=TB_Nombre]")[0].value.trim(),
            Apellido: FormAgregar.find("[name=TB_Apellido]")[0].value.trim(),
            Correo: FormAgregar.find("[name=TB_Correo]")[0].value.trim(),
            Telefono: FormAgregar.find("[name=TB_Telefono]")[0].value.trim(),
            IdEspecialidad: $("#DDL_EspecialidadAgregar option:selected").val(),
            IdConsultorio: $("#DDL_ConsultorioAgregar option:selected").val(),
            Contrasena: FormAgregar.find("[name=TB_Contrasena]")[0].value,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormAgregar[0].reset();
                    getConsultorios();
                    getEspecialidades();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getEspecialidades() {
        var url = "/Administrador/Especialidades/getEspecialidades";

        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    cargarDDLEspecialidadAgregar(respuesta.Data);
                    cargarDDLEspecialidadModificar(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getConsultorios() {
        var url = "/Administrador/Consultorios/getConsultoriosDisponibles";

        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    cargarDDLConsultorioAgregar(respuesta.Data);
                    cargarDDLConsultorioModificar(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function cargarDDLEspecialidadAgregar(especialidades) {
        var DDL_EspecialidadAgregar = document.getElementById("DDL_EspecialidadAgregar");
        DDL_EspecialidadAgregar.innerHTML = "";

        var option = document.createElement("option");
        option.value = "";
        option.textContent = getTextoComponente("LB_Seleccione");
        DDL_EspecialidadAgregar.appendChild(option);

        especialidades.forEach(
            function (especialidad) {
                var opt = document.createElement("option");
                opt.value = especialidad.Id;
                opt.textContent = especialidad.Nombre;
                DDL_EspecialidadAgregar.appendChild(opt);
            }
        );
    }

    function cargarDDLEspecialidadModificar(especialidades) {
        var DDL_EspecialidadModificar = document.getElementById("DDL_EspecialidadModificar");
        DDL_EspecialidadModificar.innerHTML = "";

        var option = document.createElement("option");
        option.value = "";
        option.textContent = getTextoComponente("LB_Seleccione");
        DDL_EspecialidadModificar.appendChild(option);

        especialidades.forEach(
            function (especialidad) {
                var opt = document.createElement("option");
                opt.value = especialidad.Id;
                opt.textContent = especialidad.Nombre;
                DDL_EspecialidadModificar.appendChild(opt);
            }
        );
    }

    function cargarDDLConsultorioAgregar(consultorios) {
        var DDL_ConsultorioAgregar = document.getElementById("DDL_ConsultorioAgregar");
        DDL_ConsultorioAgregar.innerHTML = "";

        var seleccione = document.createElement("option");
        seleccione.value = "";
        seleccione.textContent = getTextoComponente("LB_Seleccione");
        DDL_ConsultorioAgregar.appendChild(seleccione);

        var ninguno = document.createElement("option");
        ninguno.value = "-1";
        ninguno.textContent = getTextoComponente("LB_Ninguno");
        DDL_ConsultorioAgregar.appendChild(ninguno);

        consultorios.forEach(
            function (consultorio) {
                var opt = document.createElement("option");
                opt.value = consultorio.Id;
                opt.textContent = consultorio.Nombre;
                DDL_ConsultorioAgregar.appendChild(opt);
            }
        );
    }

    function cargarDDLConsultorioModificar(consultorios) {
        var DDL_ConsultorioModificar = document.getElementById("DDL_ConsultorioModificar");
        DDL_ConsultorioModificar.innerHTML = "";

        var seleccione = document.createElement("option");
        seleccione.value = "";
        seleccione.textContent = getTextoComponente("LB_Seleccione");
        DDL_ConsultorioModificar.appendChild(seleccione);

        var ninguno = document.createElement("option");
        ninguno.value = "-1";
        ninguno.textContent = getTextoComponente("LB_Ninguno");
        DDL_ConsultorioModificar.appendChild(ninguno);

        consultorios.forEach(
            function (consultorio) {
                var opt = document.createElement("option");
                opt.value = consultorio.Id;
                opt.textContent = consultorio.Nombre;
                DDL_ConsultorioModificar.appendChild(opt);
            }
        );
    }
    

    function buscar(parametro) {
        var url = "/Administrador/VerMedicos/buscarMedico";

        var data = {
            Parametro: parametro
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarMedicos(respuesta.Data);
                }
                else {
                    mostrarMensajeRespuestaPost(respuesta);
                }
            }).fail(mostrarErrorRespuestaPost);
    }


    function mostrarMedicos(medicos) {
        var tbody = GV_Medicos.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadMedicos = medicos.length;

        if (cantidadMedicos == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "9");
            td.className = "text-center";
            tr.appendChild(td);
            tbody.appendChild(tr);
        }

        medicos.forEach(
            function (medico) {
                var tr = document.createElement("tr");

                var tdIdentificacion = document.createElement("td");
                var tdNombre = document.createElement("td");
                var tdApellido = document.createElement("td");
                var tdCorreo = document.createElement("td");
                var tdTelefono = document.createElement("td");
                var tdContrasena = document.createElement("td");
                var tdEspecialidad = document.createElement("td");
                var tdConsultorio = document.createElement("td");
                var btn = document.createElement("button");

                tdIdentificacion.textContent = medico.Identificacion;
                tdNombre.textContent = medico.Nombre;
                tdApellido.textContent = medico.Apellido;
                tdCorreo.textContent = medico.Correo;
                tdTelefono.textContent = medico.Telefono;
                tdContrasena.textContent = medico.Contrasena;
                tdEspecialidad.textContent = medico.EEspecialidad.Nombre;
                tdConsultorio.textContent = medico.EConsultorio.Nombre;

                btn.setAttribute("IdMedico", medico.IdStr);
                btn.className = "material-icons btn btn-info";
                btn.textContent = "edit";
                btn.addEventListener("click", modificarClick);

                tr.appendChild(tdIdentificacion);
                tr.appendChild(tdNombre);
                tr.appendChild(tdApellido);
                tr.appendChild(tdCorreo);
                tr.appendChild(tdTelefono);
                tr.appendChild(tdContrasena);
                tr.appendChild(tdEspecialidad);
                tr.appendChild(tdConsultorio);
                tr.appendChild(btn);

                tbody.appendChild(tr);
            }
        );
    }

    function getMedico(idMedico, funct) {
        var url = "/Administrador/VerMedicos/getMedico";

        var data = {
            IdMedico: idMedico
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    funct(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarMedicoModificar(medico) {
        FormDatosBasicos[0].reset();
        $("#TB_Id").val(medico.IdStr);
        FormDatosBasicos.find("[name=TB_Identificacion]")[0].value = medico.Identificacion;
        FormDatosBasicos.find("[name=TB_Nombre]")[0].value = medico.Nombre;
        FormDatosBasicos.find("[name=TB_Apellido]")[0].value = medico.Apellido;
        FormDatosBasicos.find("[name=TB_Correo]")[0].value = medico.Correo;
        FormDatosBasicos.find("[name=TB_Telefono]")[0].value = medico.Telefono;

        $("#DDL_EspecialidadModificar option:selected").removeAttr("selected");
        $("#DDL_EspecialidadModificar > option[value=" + medico.EEspecialidad.Id + "]").attr("selected", true);

        $("#DDL_ConsultorioModificar option:selected").removeAttr("selected");
        $("#DDL_ConsultorioModificar > option[value=" + medico.EConsultorio.Id + "]").attr("selected", true);

        if (medico.Activo) {
            document.getElementById("BTN_Activar").setAttribute("disabled", "disabled");
            document.getElementById("BTN_Desactivar").removeAttribute("disabled");
        }
        else {
            document.getElementById("BTN_Desactivar").setAttribute("disabled", "disabled");
            document.getElementById("BTN_Activar").removeAttribute("disabled");
        }
        mostrarModificar();
    }
    
    function modificarDatosBasicos() {
        var url = "/Administrador/VerMedicos/modificarDatosBasicos";

        var data = {
            Id: $("#TB_Id").val(),
            Identificacion: FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim(),
            Nombre: FormDatosBasicos.find("[name=TB_Nombre]")[0].value.trim(),
            Apellido: FormDatosBasicos.find("[name=TB_Apellido]")[0].value.trim(),
            Correo: FormDatosBasicos.find("[name=TB_Correo]")[0].value.trim(),
            Telefono: FormDatosBasicos.find("[name=TB_Telefono]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    buscar(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function activar(idMedico) {
        var url = "/Administrador/VerMedicos/activarMedico";

        var data = {
            IdMedico: idMedico,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    $("#BTN_Activar").attr("disabled", "disabled");
                    $("#BTN_Desactivar").removeAttr("disabled");
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function desactivar(idMedico) {
        var url = "/Administrador/VerMedicos/desactivarMedico";

        var data = {
            IdMedico: idMedico,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    $("#BTN_Desactivar").attr("disabled", "disabled");
                    $("#BTN_Activar").removeAttr("disabled");
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function cambiarEspecialidad() {
        var url = "/Administrador/VerMedicos/cambiarEspecialidad";

        var data = {
            IdMedico: $("#TB_Id").val(),
            IdEspecialidad: $("#DDL_EspecialidadModificar option:selected").val(),
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    getEspecialidades();
                    buscar(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function cambiarConsultorio() {
        var url = "/Administrador/VerMedicos/cambiarConsultorio";

        var data = {
            IdMedico: $("#TB_Id").val(),
            IdConsultorio: $("#DDL_ConsultorioModificar option:selected").val(),
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    getConsultorios();
                    buscar(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function cambiarContrasena() {
        var url = "/Administrador/VerMedicos/cambiarContrasena";

        var data = {
            IdMedico: $("#TB_Id").val(),
            Contrasena: FormCambiarContrasena.find("[name=TB_ContrasenaModificar]")[0].value,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormCambiarContrasena[0].reset();
                    buscar(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }


    // Eventos


    FormAgregar.submit(
        function (event) {
            event.preventDefault();

            FormAgregar.validate({
                rules: {
                    TB_RepetirContrasena: {
                        equalTo: "#TB_ContrasenaAgregar"
                    }
                },
                messages: {
                    TB_RepetirContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormAgregar.valid()) {
                agregar();
            }
        }
    );

    FormBuscar.submit(function (e) {
        e.preventDefault();

        FormBuscar.validate();

        if (FormBuscar.valid()) {
            buscar(document.getElementById("ParametroBusqueda").value.trim());
        }
    });
        
    function modificarClick(event) {
        var idMedico = event.target.getAttribute("IdMedico");
        getMedico(idMedico, mostrarMedicoModificar)
    }

    
    FormDatosBasicos.submit(
        function (event) {
            event.preventDefault();

            FormDatosBasicos.validate();

            if (FormDatosBasicos.valid()) {
                modificarDatosBasicos();
            }
        }
    );

    function activarClick() {
        var idMedico = document.getElementById("TB_Id").value;
        activar(idMedico);
    }

    function desactivarClick() {
        var idMedico = document.getElementById("TB_Id").value;
        desactivar(idMedico);
    }

    FormEspecialidad.submit(
        function (event) {
            event.preventDefault();

            FormEspecialidad.validate();

            if (FormEspecialidad.valid()) {
                cambiarEspecialidad();
            }
        }
    );
    
    FormConsultorio.submit(
        function (event) {
            event.preventDefault();

            FormConsultorio.validate();

            if (FormConsultorio.valid()) {
                cambiarConsultorio();
            }
        }
    );
    
    FormCambiarContrasena.submit(
        function (event) {
            event.preventDefault();

            FormCambiarContrasena.validate({
                rules: {
                    TB_RepetirContrasena: {
                        equalTo: "#TB_ContrasenaModificar"
                    }
                },
                messages: {
                    TB_RepetirContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormCambiarContrasena.valid()) {
                cambiarContrasena();
            }
        }
    );

</script>
