﻿
@{
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<script>

    if (!localStorage.getItem("ConfirmarCita_IdCita")) {
        window.location = "/Usuario/AsignarCita/AsignarCita";
    }

</script>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <h4 class="LB_ConfirmarCita text-center">Confirmar Cita</h4>
    </div>

    <div class="card-body">
        <input type="hidden" id="TB_Id" value="" />

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_HoraInicio">Hora inicio</label>
                <input disabled type="text" id="TB_HoraInicio" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_HoraFin">Hora fin</label>
                <input disabled type="text" id="TB_HoraFin" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Fecha">Fecha</label>
                <input disabled type="text" id="TB_Fecha" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Servicio">Servicio</label>
                <input disabled type="text" id="TB_Servicio" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Medico">Médico</label>
                <input disabled type="text" id="TB_Medico" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Estado">Estado</label>
                <input disabled type="text" id="TB_Estado" class="form-control" />
            </div>
        </div>

        <div class="text-center">
            <button id="BTN_ConfirmarCita" type="submit" class="material-icons btn btn-info mt-2">check</button>   
        </div>
    </div>
</div>

<script src="~/Scripts/moment.min.js"></script>

<script>

    var TB_Id = document.getElementById("TB_Id");
    var TB_HoraInicio = document.getElementById("TB_HoraInicio");
    var TB_HoraFin = document.getElementById("TB_HoraFin");
    var TB_Fecha = document.getElementById("TB_Fecha");
    var TB_Servicio = document.getElementById("TB_Servicio");
    var TB_Medico = document.getElementById("TB_Medico");
    var TB_Estado = document.getElementById("TB_Estado");

    var cita = null;

    TB_Id.value = localStorage.getItem("ConfirmarCita_IdCita");
    localStorage.removeItem("ConfirmarCita_IdCita");

    getCita();

    function getCita() {
        var url = "@Url.Action("getCita", "ConfirmarCita", new { area = "Usuario" })";

        var data = {
            IdCita: TB_Id.value,
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    cita = respuesta.Data;
                    console.log(cita);
                    mostrarCita();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCita() {
        TB_HoraInicio.value = moment(cita.HoraInicio, "HH:mm").format("hh:mm a");
        TB_HoraFin.value = moment(cita.HoraFin, "HH:mm").format("hh:mm a");
        TB_Fecha.value = cita.Fecha;
        TB_Servicio.value = cita.Servicio;
        TB_Medico.value = cita.EMedico.Nombre + " " + cita.EMedico.Apellido; 
        if (cita.Estado == "disponible") {
            TB_Estado.value = "Disponible";
        }
    }

    BTN_ConfirmarCita.addEventListener("click",
        function (event) {
            event.preventDefault();

            var url = "@Url.Action("ReservarCita", "ConfirmarCita", new { area = "Usuario" })";
            var acceso = JSON.parse(localStorage.getItem("Acceso"));

            var data = {
                IdCita: TB_Id.value,
                Acceso: acceso
            }

            $.post(url, data).done(
                function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        console.log("Cita Reservada");
                        window.location = "/Usuario/AsignarCita/AsignarCita";
                    }
                    mostrarMensajeRespuestaPost(respuesta);
                }
            ).fail(mostrarErrorRespuestaPost);
        }
    );

</script>