﻿@model List<DateTime>

<style>
    #calendar {
        font-family: "latoregular","Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    #calendar caption {
        text-align: left;
        padding: 5px 10px;
        margin-top: 10px;
        background-color: white;
        color: #3c5281;
        font-weight: bold;
        font-size: medium;
        border-top: 1px solid black;
    }

    #calendar caption div:nth-child(1) {
        float: left;
    }

    #calendar caption div:nth-child(2) {
        float: right;
    }

    #calendar caption div:nth-child(2) a {
        cursor: pointer;
    }

    #calendar th {
        text-align: center;
        margin-top: 10px;
        background-color: white;
        color: #3c5281;
        width: 40px;
        height: 30px;
    }

    #calendar td {
        text-align: center;
        padding: 2px 5px;
        background-color: white;
        color: silver;
        width: 40px;
        height: 30px;
    }

    #calendar .hoy {
        border-width: 2px;
        border-style: solid;
        border-color: red;
    }
</style>


<table id="calendar" ondayrenser="">
    <caption></caption>
    <thead>
        <tr>
            <th style="color:#d0453b">Dom</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th style="color:#d0453b">Sab</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    var actual = new Date();
    function mostrarCalendario(year, month) {
        var now = new Date(year, month - 1, 1);
        var last = new Date(year, month, 0);
        var primerDiaSemana = ((now.getDay() == 0) ? 7 : now.getDay()) + 1;
        var ultimoDiaMes = last.getDate();
        var dia = 0;
        var resultado = "<tr bgcolor='silver'>";
        var diaActual = 0;
        //console.log(ultimoDiaMes);
        var last_cell = primerDiaSemana + ultimoDiaMes;

        // hacemos un bucle hasta 42, que es el máximo de valores que puede
        // haber... 6 columnas de 7 dias
        for (var i = 1; i <= 42; i++) {
            if (i == primerDiaSemana) {
                // determinamos en que dia empieza
                dia = 1;
            }
            if (i < primerDiaSemana || i >= last_cell) {
                // celda vacia
                resultado += "<td>&nbsp;</td>";
            }
            else {
                // mostramos el dia
                resultado += "<td>" + dia + "</td>";
                dia++;
            }
            if (i % 7 == 0) {
                if (dia > ultimoDiaMes)
                    break;
                resultado += "</tr><tr>\n";
            }
        }
        resultado += "</tr>";

        var meses = Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");

        // Calculamos el siguiente mes y año
        nextMonth = month + 1;
        nextYear = year;
        if (month + 1 > 12) {
            nextMonth = 1;
            nextYear = year + 1;
        }

        // Calculamos el anterior mes y año
        prevMonth = month - 1;
        prevYear = year;
        if (month - 1 < 1) {
            prevMonth = 12;
            prevYear = year - 1;
        }

        document.getElementById("calendar").getElementsByTagName("caption")[0].innerHTML = "<div>" + meses[month - 1] + " / " + year + "</div><div><a onclick='mostrarCalendario(" + prevYear + "," + prevMonth + ")'>&lt;</a> <a onclick='mostrarCalendario(" + nextYear + "," + nextMonth + ")'>&gt;</a></div>";
        document.getElementById("calendar").getElementsByTagName("tbody")[0].innerHTML = resultado;
    }

    mostrarCalendario(actual.getFullYear(), actual.getMonth() + 1);

</script>
