﻿@using Utilitaria.Clases.Medico

@model List<EEspecialidad>

@if (Model.Count != 0)
{
    <div class="form-group">
        <select id="Especialidad" name="Especialidad" class="form-control campo_vacio">
            <option class="LB_Seleccione" value="0">Seleccione</option>
            @foreach (var especialidad in Model)
            {
                <option value="@especialidad.Id">@especialidad.Nombre</option>
            }
        </select>
    </div>
}

<script>

    @*DDL_Servicio.change(
        function (event) {
            event.preventDefault();
            var url = "@Url.Action("actualizarDiasDisponibles", "AsignarCita", new { area = "Usuario" })";

            //console.log($("#Especialidad option:selected").text());
            var data = {
                idEspecialidad: $("#Especialidad option:selected").val()
            }

            $.post(url, data).done(
                function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        console.log($("#Especialidad option:selected").text());
                    }
                    mostrarMensajeRespuestaPost(respuesta);
                }
            ).fail(mostrarErrorRespuestaPost)
        }
    );*@
</script>

