﻿@using Utilitaria.Clases.Usuario;
@model List<ECita>

@if (Model.Count == 0)
{
    <p class="LB_TablaVacia">No hay informacion que mostrar</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Fecha">Fecha</th>
                <th class="LB_HoraInicio">Hora Inicio</th>
                <th class="LB_HoraFin">Hora Fin</th>
                <th class="LB_servicio">Servicio</th>
                <th class="LB_Estado">Estado</th>
                <th class="LB_Consultorio">Consultorio</th>
                <th class="LB_Medico">Médico</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in Model)
            {

            <tr>
                <td>@cita.Fecha</td>
                <td>@cita.HoraInicio</td>
                <td>@cita.HoraInicio</td>
                <td>@cita.Servicio</td>
                <td>@cita.Estado</td>
                <td>@cita.EMedico.EConsultorio.Nombre</td>
                <td>@cita.EMedico.Nombre @cita.EMedico.Apellido</td>
                <td>
                    <button IdCita="@cita.Id" onclick='reprogramarCita(event);' class="material-icons btn btn-primary">calendar_today</button>
                </td>
                <td>
                    <button IdCita="@cita.Id" onclick='eliminarCita(event);' class="material-icons btn btn-warning">delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}