﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/logo.png" />

    <title>Brais - Usuario</title>

    @Scripts.Render("~/bundles/jquery")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link href="~/Content/main.css" rel="stylesheet" />

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/General/Constantes.js"></script>
    <script src="~/Scripts/Idioma/Idioma.js"></script>
    <script src="~/Scripts/General/RespuestasServer.js"></script>
    <script src="~/Scripts/General/ValidacionesCampos.js"></script>
    <script src="~/Scripts/Seguridad/SeguridadAcceso.js"></script>
    <script src="~/Scripts/Utilitario/Component.js"></script>

</head>
<body>
    <div class="navbar navbar-expand-sm justify-content-start bg-primary">
        @Html.ActionLink("Asignar cita", "AsignarCita", "AsignarCita", new { area = "Usuario" }, new { @class = "LB_AsignarCita btn btn-primary" })
        @Html.ActionLink("Citas agendadas", "CitasAgendadas", "CitasAgendadas", new { area = "Usuario" }, new { @class = "LB_CitasAgendadas btn btn-primary" })
        @Html.ActionLink("Historial", "Historial", "Historial", new { area = "Usuario" }, new { @class = "LB_Historial btn btn-primary" })
        @Html.ActionLink("Mis datos", "MisDatos", "MisDatos", new { area = "Usuario" }, new { @class = "LB_MisDatos btn btn-primary" })
        @Html.ActionLink("Compramatic", "Compramatic", "Compramatic", new { area = "Usuario" }, new { @class = "btn btn-primary" })
        <button class="LB_CerrarSesion btn btn-danger" onclick="cerrarAcceso()">Cerrar sesion</button>
    </div>

    <div id="mensajes" class="d-inline" style="overflow:auto; right: 0; position:fixed; max-height:25%; z-index: 10;"></div>

    <div class="banner">

    </div>


    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
