﻿
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_RestablecerContrasena text-center p-4">Recuperar contrasena</h2>

@if (ViewBag.Estado)
{
<form id="FormRestablecerContrasena" class="d-flex flex-column max-width-form">
    <div class="form-group">
        <label id="LB_Hash">@ViewBag.hash</label>
    </div>

    <div class="form-group">
        <label class="LB_NuevaContrasena">Nueva contrasena</label>
        <input id="Contrasena" name="Contrasena" class="form-control campo_vacio caracteres_especiales" type="password"/>
    </div>

    <div class="form-group">
        <label class="LB_RepetirNuevaContrasena">Repetir nueva contrasena</label>
        <input id="RepetirContrasena" name="RepetirContrasena" class="form-control campo_vacio caracteres_especiales" type="password"/>
    </div>

    <button type="submit" class="material-icons btn btn-info align-self-center">edit</button>
</form>
}
else
{
    <h2 class="text-center text-danger p-5">Solicitud no valida</h2>
}

<script>
    //if ($("#FormRestablecerContrasena")) {
        $("#FormRestablecerContrasena").submit(
            function (e) {
                e.preventDefault();

                $("#FormRestablecerContrasena").validate({
                    rules: {
                        RepetirContrasena: {
                            equalTo: "#Contrasena"
                        }
                    },
                    messages: {
                        RepetirContrasena: {
                            equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>Las contraseñas no coinciden</p>"
                        }
                    }
                });

                if ($("#FormRestablecerContrasena").valid()) {

                    var url = "@Url.Action("RecuperarContrasena", "RecuperarContrasenaPasoDos")";

                    var hash = $("#LB_Hash").text();
                    var contrasena = $("#Contrasena").val();

                    var data = {
                        Hash: hash,
                        Contrasena: contrasena
                    }

                    $.post(url, data).done(
                        function (respuesta) {
                            mostrarMensajeRespuestaPost(respuesta);
                            if (respuesta.Estado == MENSAJE_CORRECTO) {
                                window.location.href = "@Url.Action("Login", "Login")";
                            }
                        }).fail(mostrarErrorRespuestaPost);
                }
            })
    //}
</script>
