﻿
@{
    Layout = "~/Areas/Medico/Views/Shared/MasterPage.cshtml";
}

<div id="ContenedorAgregarHistorial" class="p-4">
    <div class="card">
        <div class="card-header">
            <h4 class="LB_Historial text-center">Historial</h4>
        </div>

        <form id="FormAgregarHistorial" class="card-body">
            <input type="hidden" name="TB_IdCita" value="" />

            <div class="form-group">
                <label class="LB_MotivoConsulta">Motivo consulta:</label>
                <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_MotivoConsulta" value="" maxlength="50" />
            </div>

            <div class="form-group">
                <label class="LB_Observaciones">Observaciones:</label>
                <textarea name="TB_Observaciones" maxlength="300" class="form-control campo_vacio caracteres_especiales" rows="5"></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <button class="material-icons btn btn-success">add</button>
            </div>
        </form>
    </div>
</div>

<div id="ContenedorModificarHistorial" class="p-4">
    <div class="card">
        <div class="card-header">
            <h4 class="LB_Historial text-center">Historial</h4>
        </div>

        <form id="FormModificarHistorial" class="card-body">
            <input type="hidden" name="TB_IdHistorial" value="" />

            <div class="form-group">
                <label class="LB_MotivoConsulta">Motivo consulta:</label>
                <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_MotivoConsulta" value="" maxlength="50" />
            </div>

            <div class="form-group">
                <label class="LB_Observaciones">Observaciones:</label>
                <textarea name="TB_Observaciones" maxlength="300" class="form-control campo_vacio caracteres_especiales" rows="5"></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <button class="material-icons btn btn-info">edit</button>
            </div>
        </form>
    </div>
</div>

<div class="p-4">
    <div class="card">
        <div class="card-header">
            <h4 class="LB_HistorialUsuario text-center">Historial usuario</h4>
        </div>

        <div class="card-body">
            <form id="FormBuscarHistorial" class="d-flex align-items-start justify-content-center mb-4">
                <div>
                    <input class="form-control campo_vacio solo_numeros" type="text" id="TB_Identificacion" value="" placeholder="Identificacion" maxlength="15" />
                </div>

                <button class="material-icons btn btn-primary">search</button>
            </form>

            <div id="GV_Historial">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td class="LB_Fecha">Fecha</td>
                            <td class="LB_Datos">Datos</td>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

    var ContenedorAgregarHistorial = document.getElementById("ContenedorAgregarHistorial");
    var ContenedorModificarHistorial = document.getElementById("ContenedorModificarHistorial");

    ContenedorAgregarHistorial.style.display = "None";
    ContenedorModificarHistorial.style.display = "None";

    var FormAgregarHistorial = $("#FormAgregarHistorial");
    var FormModificarHistorial = $("#FormModificarHistorial");

    var TB_Identificacion = document.getElementById("TB_Identificacion");
    TB_Identificacion.setAttribute("placeholder", getTextoComponente("LB_Identificacion"));

    var GV_Historial = document.getElementById("GV_Historial");
    var FormBuscarHistorial = $("#FormBuscarHistorial");

    mostrarHistorial([]);

    if (localStorage.getItem("Historial_IdCita")) {
        var IdCita = localStorage.getItem("Historial_IdCita");
        FormAgregarHistorial.find("[name=TB_IdCita]")[0].value = localStorage.getItem("Historial_IdCita");
        getHistorialPorCita(IdCita);
    }

    function getHistorialPorCita(idCita) {
        var url = "/Medico/Historial/getHistorialPorCita";

        $.post(url, { IdCita: IdCita }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    if (respuesta.Data.Id != -1) {
                        adecuarParaModificarHistorial(respuesta.Data);
                    }
                    else {
                        adecuarParaAgregarHistorial();
                    }
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function adecuarParaAgregarHistorial() {
        ContenedorAgregarHistorial.style.display = "block";
    }

    function adecuarParaModificarHistorial(historial) {

        FormModificarHistorial.find("[name=TB_IdHistorial]")[0].value = historial.Id;

        var datos = JSON.parse(historial.Datos);

        FormModificarHistorial.find("[name=TB_MotivoConsulta]")[0].value = datos.MotivoConsulta;
        FormModificarHistorial.find("[name=TB_Observaciones]")[0].value = datos.Observaciones;

        TB_Identificacion.value = historial.EUsuario.Identificacion;
        TB_Identificacion.setAttribute("disabled", "disabled");
        buscarHistorial(historial.EUsuario.Identificacion);

        ContenedorModificarHistorial.style.display = "block";
    }

    window.addEventListener("unload",
        function (e) {
            this.localStorage.removeItem("Historial_IdCita");
        }
        , false);

    FormAgregarHistorial.submit(
        function (event) {
            event.preventDefault();
            FormAgregarHistorial.validate();
            if (FormAgregarHistorial.valid()) {
                agregarHistorial();
            }
        }
    );

    function agregarHistorial() {
        var url = "/Medico/Historial/agregarHistorial";

        var data = {
            Datos: JSON.stringify({
                MotivoConsulta: FormAgregarHistorial.find("[name=TB_MotivoConsulta]")[0].value.trim(),
                Observaciones: FormAgregarHistorial.find("[name=TB_Observaciones]")[0].value.trim()
            }),
            IdCita: FormAgregarHistorial.find("[name=TB_IdCita]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        };

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    ContenedorAgregarHistorial.style.display = "none";
                    getHistorialPorCita(FormAgregarHistorial.find("[name=TB_IdCita]")[0].value.trim());
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    FormModificarHistorial.submit(
        function (event) {
            event.preventDefault();
            FormModificarHistorial.validate();
            if (FormModificarHistorial.valid()) {
                modificarHistorial();
            }
        }
    );

    function modificarHistorial() {
        var url = "/Medico/Historial/modificarHistorial";

        var data = {
            Datos: JSON.stringify({
                MotivoConsulta: FormModificarHistorial.find("[name=TB_MotivoConsulta]")[0].value.trim(),
                Observaciones: FormModificarHistorial.find("[name=TB_Observaciones]")[0].value.trim()
            }),
            IdHistorial: FormModificarHistorial.find("[name=TB_IdHistorial]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        };

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    buscarHistorial(TB_Identificacion.value.trim());
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    FormBuscarHistorial.submit(
        function (event) {
            event.preventDefault();

            FormBuscarHistorial.validate();

            if (FormBuscarHistorial.valid()) {
                buscarHistorial(TB_Identificacion.value.trim());
            }
        }
    );

    function buscarHistorial(identificacion) {
        var url = "/Medico/Historial/getHistorialUsuario";

        var data = {
            Identificacion: identificacion,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarHistorial(respuesta.Data);
                }
                else {
                    mostrarHistorial([]);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarHistorial(historiales) {
        var tbody = GV_Historial.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadHistoriales = historiales.length;

        if (cantidadHistoriales == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "4");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        historiales.forEach(
            function (historial) {
                var tr = document.createElement("tr");

                var tdFecha = document.createElement("td");
                var tdData = document.createElement("td");

                tdFecha.textContent = historial.ECita.Fecha;

                var data = JSON.parse(historial.Datos);

                for (key in data) {
                    var p = document.createElement("p");

                    var content = data[key].replace(/\n/g, "<br />");

                    p.innerHTML = "<b>" + key + "</b>" + ": " + content;
                    tdData.appendChild(p);
                }

                tr.appendChild(tdFecha);
                tr.appendChild(tdData);

                tbody.appendChild(tr);
            }
        );
    }

</script>