﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/logo.png" />

    <title>Brais - Medico</title>

    @Scripts.Render("~/bundles/jquery")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link href="~/Content/main.css" rel="stylesheet" />

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/General/Constantes.js"></script>
    <script src="~/Scripts/Idioma/Idioma.js"></script>
    <script src="~/Scripts/General/RespuestasServer.js"></script>
    <script src="~/Scripts/General/ValidacionesCampos.js"></script>
    <script src="~/Scripts/Seguridad/SeguridadAcceso.js"></script>

</head>
<body>
    <div class="navbar navbar-expand-sm justify-content-start bg-dark">
        @Html.ActionLink("Agenda", "Agenda", "Agenda", new { area = "Medico" }, new { @class = "LB_Agenda btn btn-primary" })
        @Html.ActionLink("Historial", "Historial", "Historial", new { area = "Medico" }, new { @class = "LB_Historial btn btn-primary" })
        @Html.ActionLink("Horario", "Horario", "Horario", new { area = "Medico" }, new { @class = "LB_Horario btn btn-primary" })
        @Html.ActionLink("Mis datos", "MisDatos", "MisDatos", new { area = "Medico" }, new { @class = "LB_MisDatos btn btn-primary" })
        @Html.ActionLink("Reservar Comida", "PlatoWeb", "PlatoWeb", new { area = "Medico" }, new { @class = "LB_PlatoWeb btn btn-primary" })
        <button class="LB_CerrarSesion btn btn-danger" onclick="cerrarAcceso()">Cerrar sesion</button>
    </div>

    <div id="mensajes" class="d-inline" style="overflow:auto; right: 0; position:fixed; max-height:25%; z-index: 10;"></div>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
