﻿
@{
    ViewBag.Title = "VerUsuarios";
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_GestionarUsuarios text-center p-4">Gestionar usuarios</h2>


<div id="ContenedorAgregar" class="p-4">
    <form id="FormAgregar" class="card">
        <div class="card-header">
            <h3 class="LB_Agregar text-center">Agregar</h3>
        </div>

        <div class="card-body d-flex flex-column">
            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="LB_Identificacion">Identificacion</label>
                        <input name="TB_Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Nombre">Nombres</label>
                            <input name="TB_Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Apellido">Apellidos</label>
                            <input name="TB_Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_FechaNacimiento">Fecha nacimiento</label>
                            <input class="form-control campo_vacio" type="text" id="Agregar_TB_FechaNacimiento" name="Agregar_TB_FechaNacimiento" style="cursor:pointer" readonly="readonly" value="" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Genero">Genero</label>
                            <select name="DDL_Genero" class="campo_vacio caracteres_especiales form-control">
                                <option class="LB_Seleccione" value="">Seleccione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Correo">Correo</label>
                            <input name="TB_Correo" class="campo_vacio email_valido form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Telefono">Telefono</label>
                            <input name="TB_Telefono" class="campo_vacio caracteres_especiales form-control" type="tel" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Contrasena">Contraseña</label>
                            <input id="Agregar_TB_Contrasena" name="TB_Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_RepetirContrasena">Repetir contraseña</label>
                            <input name="TB_RepetirContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center p-3">
                <button class="material-icons btn btn-success">add</button>
            </div>
        </div>
    </form>
</div>


<div id="ContenedorModificar" class="p-4">
    <div id="FormModificarUsuario" class="card">

        <div class="card-header d-flex">
            <input type="hidden" id="IdModificar" value="" />

            <div class="col-11">
                <h3 class="LB_Modificar text-center">Modificar</h3>
            </div>

            <div class="col-1">
                <button onclick="mostrarAgregar()" class="material-icons btn btn-danger">close</button>
            </div>
        </div>

        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
                </div>

                <div class="card-body">
                    <form id="FormDatosBasicos">
                        <div class="form-group">
                            <label class="LB_Identificacion">Identificacion</label>
                            <input name="TB_Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Nombre">Nombre</label>
                                <input name="TB_Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Apellido">Apellido</label>
                                <input name="TB_Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_FechaNacimiento">Fecha nacimiento</label>
                                <input id="TB_FechaNacimientoModificar" name="TB_FechaNacimiento" class="form-control campo_vacio" type="text" style="cursor:pointer" readonly="readonly" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Genero">Genero</label>
                                <select id="DDL_GeneroModificar" name="DDL_Genero" class="campo_vacio caracteres_especiales form-control">
                                    <option class="LB_Seleccione" value="">Seleccione</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Correo">Correo</label>
                                <input name="TB_Correo" class="campo_vacio email_valido form-control" type="text" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_Telefono">Telefono</label>
                                <input name="TB_Telefono" class="campo_vacio caracteres_especiales form-control" type="tel" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="material-icons btn btn-info">edit</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="LB_Estado">Estado</h4>
                </div>

                <div class="card-body">
                    <button id="BTN_Activar" onclick="activarClick(event)" class="material-icons btn btn-success">check</button>
                    <button id="BTN_Desactivar" onclick="desactivarClick(event)" class="material-icons btn btn-danger">close</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
                </div>

                <div class="card-body">
                    <form id="FormCambiarContrasena" class="d-flex flex-column">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label class="LB_Contrasena">Contraseña</label>
                                <input id="TB_ContrasenaModificar" name="TB_Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="LB_RepetirContrasena">Repetir contraseña</label>
                                <input name="TB_RepetirContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="material-icons btn btn-info">edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="FormBuscar" class="form-inline justify-content-center p-4">
    <div class="d-flex flex-column">
        <input class="form-control caracteres_especiales" type="search" id="ParametroBusqueda" name="ParametroBusqueda" value="" />
    </div>

    <button class="material-icons btn btn-primary">search</button>
</form>


<div id="GV_Usuarios" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Identificacion">Identificacion</th>
                <th class="LB_Nombre">Nombre</th>
                <th class="LB_Apellido">Apellido</th>
                <th class="LB_Correo">Correo</th>
                <th class="LB_Telefono">Telefono</th>
                <th class="LB_Contrasena">Contraseña</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @*@foreach (var usuario in Model)
            {
                string claseEstado = !usuario.Activo ? "red-lighten-4" : "";

                <tr class="@claseEstado">
                    <td>@usuario.Identificacion</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Correo</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Contrasena</td>
                    <td>
                        <button IdUsuario="@usuario.Id" onclick='mostrarFormModificarUsuario(event);' class="material-icons btn btn-info">edit</button>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>

    //  Variables

    var ContenedorAgregar = $("#ContenedorAgregar");
    var ContenedorModificar = $("#ContenedorModificar");
    var FormAgregar = $("#FormAgregar");
    var FormBuscar = $("#FormBuscar");

    var FormDatosBasicos = $("#FormDatosBasicos");
    var FormCambiarContrasena = $("#FormCambiarContrasena");

    var GV_Usuarios = document.getElementById("GV_Usuarios");


    $("#Agregar_TB_FechaNacimiento").datepicker({
        minDate: "-100Y",
        maxDate: "+0D",
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    });


    // Configuracion inicial
    mostrarAgregar();
    buscarUsuario("");


    // Eventos

    FormAgregar.submit(
        function (event) {
            event.preventDefault();

            FormAgregar.validate({
                rules: {
                    TB_RepetirContrasena: {
                        equalTo: "#Agregar_TB_Contrasena"
                    }
                },
                messages: {
                    TB_RepetirContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormAgregar.valid()) {
                agregarUsuario();
            }
        }
    );

    FormBuscar.submit(function (e) {
        e.preventDefault();

        FormBuscar.validate();

        if (FormBuscar.valid()) {
            var parametro = FormBuscar.find("#ParametroBusqueda")[0].value;
            buscarUsuario(parametro);
        }
    });

    function modificarClick(event) {
        event.preventDefault();
        var idUsuario = event.target.getAttribute("IdUsuario");
        getUsuarioAModificar(idUsuario);
    }

    function activarClick(event) {
        event.preventDefault();
        var idUsuario = document.getElementById("IdModificar").value;
        activar(idUsuario);
    }

    function desactivarClick(event) {
        event.preventDefault();
        var idUsuario = document.getElementById("IdModificar").value;
        desactivar(idUsuario);
    }

    FormDatosBasicos.submit(
        function (event) {
            event.preventDefault();
            FormDatosBasicos.validate();
            if (FormDatosBasicos.valid()) {
                modificarDatosBasicos();
            }
        }
    );

    FormCambiarContrasena.submit(
        function (event) {
            event.preventDefault();

            FormCambiarContrasena.validate({
                rules: {
                    TB_RepetirContrasena: {
                        equalTo: "#TB_ContrasenaModificar"
                    }
                },
                messages: {
                    TB_RepetirContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormCambiarContrasena.valid()) {
                cambiarContrasena();
            }
        }
    );

    // Acciones

    function mostrarAgregar() {
        ContenedorAgregar.show();
        ContenedorModificar.hide();
    }

    function mostrarModificar() {
        ContenedorAgregar.hide();
        ContenedorModificar.show();
    }


    function agregarUsuario() {
        var url = "@Url.Action("agregarUsuario", "VerUsuarios", new { area="Administrador" })";

        var DDLGenero = FormAgregar.find("[name=DDL_Genero]")[0];

        console.log(DDLGenero);

        var data = {
            Identificacion: FormAgregar.find("[name=TB_Identificacion]")[0].value.trim(),
            Nombre: FormAgregar.find("[name=TB_Nombre]")[0].value.trim(),
            Apellido: FormAgregar.find("[name=TB_Apellido]")[0].value.trim(),
            FechaNacimiento: $("#Agregar_TB_FechaNacimiento").val(),
            Genero: DDLGenero.options[DDLGenero.selectedIndex].value,
            Correo: FormAgregar.find("[name=TB_Correo]")[0].value.trim(),
            Telefono: FormAgregar.find("[name=TB_Telefono]")[0].value.trim(),
            Contrasena: FormAgregar.find("[name=TB_Contrasena]")[0].value,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormAgregar[0].reset();
                    buscarUsuario("");
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getUsuarioAModificar(id) {
        var url = "/Administrador/VerUsuarios/getUsuario";

        $.post(url, {IdUsuario: id}).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarUsuarioAModificar(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarUsuarioAModificar(usuario) {
        document.getElementById("IdModificar").value = usuario.IdStr;
        FormDatosBasicos.find("[name=TB_Identificacion]")[0].value = usuario.Identificacion;
        FormDatosBasicos.find("[name=TB_Nombre]")[0].value = usuario.Nombre;
        FormDatosBasicos.find("[name=TB_Apellido]")[0].value = usuario.Apellido;
        FormDatosBasicos.find("[name=TB_Correo]")[0].value = usuario.Correo;
        FormDatosBasicos.find("[name=TB_Telefono]")[0].value = usuario.Telefono;

        $("#TB_FechaNacimientoModificar").datepicker({
            minDate: "-100Y",
            maxDate: "+0D",
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"
        });

        $("#TB_FechaNacimientoModificar").datepicker("setDate", usuario.FechaNacimiento);

        $("#DDL_GeneroModificar option:selected").removeAttr("selected");
        $("#DDL_GeneroModificar > option[value=" + usuario.Genero + "]").attr("selected", true);

        if (usuario.Activo) {
            document.getElementById("BTN_Activar").setAttribute("disabled", "disabled");
            document.getElementById("BTN_Desactivar").removeAttribute("disabled");
        }
        else {
            document.getElementById("BTN_Desactivar").setAttribute("disabled", "disabled");
            document.getElementById("BTN_Activar").removeAttribute("disabled");
        }

        mostrarModificar();
    }

    function modificarDatosBasicos() {
        var url = "/Administrador/VerUsuarios/modificarDatosBasicos";

        var data = {
            Id: document.getElementById("IdModificar").value,
            Identificacion: FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim(),
            Nombre: FormDatosBasicos.find("[name=TB_Nombre]")[0].value.trim(),
            Apellido: FormDatosBasicos.find("[name=TB_Apellido]")[0].value.trim(),
            FechaNacimiento: $("#TB_FechaNacimientoModificar").val().trim(),
            Genero: $("#DDL_GeneroModificar option:selected").val().trim(),
            Correo: FormDatosBasicos.find("[name=TB_Correo]")[0].value.trim(),
            Telefono: FormDatosBasicos.find("[name=TB_Telefono]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    buscarUsuario(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function activar(id) {
        var url = "/Administrador/VerUsuarios/activarUsuario";

        var data = {
            IdUsuario: id,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    document.getElementById("BTN_Activar").setAttribute("disabled", "disabled");
                    document.getElementById("BTN_Desactivar").removeAttribute("disabled");
                    buscarUsuario(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function desactivar(id) {
        var url = "/Administrador/VerUsuarios/desactivarUsuario";

        var data = {
            IdUsuario: id,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    document.getElementById("BTN_Desactivar").setAttribute("disabled", "disabled");
                    document.getElementById("BTN_Activar").removeAttribute("disabled");
                    buscarUsuario(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }


    function cambiarContrasena() {
        var url = "/Administrador/VerUsuarios/cambiarContrasena";

        var data = {
            IdUsuario: $("#IdModificar").val(),
            Contrasena: $("#TB_ContrasenaModificar").val(),
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormCambiarContrasena[0].reset();
                    buscarUsuario(FormDatosBasicos.find("[name=TB_Identificacion]")[0].value.trim());
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }


    function buscarUsuario(parametro) {
        var url = "@Url.Action("buscarUsuario", "VerUsuarios", new { area="Administrador" })";

        var data = {
            Parametro: parametro
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarUsuarios(respuesta.Data);
                }
                else {
                    mostrarMensajeRespuestaPost(respuesta);
                }
            }).fail(mostrarErrorRespuestaPost);
    }
    

    function mostrarUsuarios(usuarios) {
        var tbody = GV_Usuarios.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadUsuarios = usuarios.length;

        if (cantidadUsuarios == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "7");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        usuarios.forEach(
            function (usuario) {
                var tr = document.createElement("tr");

                var tdIdentificacion = document.createElement("td");
                var tdNombre = document.createElement("td");
                var tdApellido = document.createElement("td");
                var tdCorreo = document.createElement("td");
                var tdTelefono = document.createElement("td");
                var tdContrasena = document.createElement("td");

                var btn = document.createElement("button");

                tdIdentificacion.textContent = usuario.Identificacion;
                tdNombre.textContent = usuario.Nombre;
                tdApellido.textContent = usuario.Apellido;
                tdCorreo.textContent = usuario.Correo;
                tdTelefono.textContent = usuario.Telefono;
                tdContrasena.textContent = usuario.Contrasena;

                btn.setAttribute("IdUsuario", usuario.IdStr);
                btn.className = "material-icons btn btn-info";
                btn.textContent = "edit";
                btn.addEventListener("click", modificarClick);

                tr.appendChild(tdIdentificacion);
                tr.appendChild(tdNombre);
                tr.appendChild(tdApellido);
                tr.appendChild(tdCorreo);
                tr.appendChild(tdTelefono);
                tr.appendChild(tdContrasena);
                tr.appendChild(btn);

                tbody.appendChild(tr);
            }
        );
    }

</script>

