﻿
@{
    ViewBag.Title = "MisDatos";
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<div class="p-3">
</div>

<div id="FormModificarMedico" class="card">

    <div class="card-header d-flex">
        <h3 class="LB_Modificar text-center">Modificar</h3>
    </div>

    <div class="card-body">
        <input type="hidden" id="TB_Id" />

        <div class="card">
            <div class="card-header">
                <h1 class="material-icons" style="font-size: 2rem;">assignment_ind</h1>
            </div>

            <div class="card-body">
                <form id="FormDatosBasicos">
                    <div class="form-group">
                        <label class="LB_Identificacion">Identificacion</label>
                        <input disabled id="Identificacion" name="Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Nombre">Nombre</label>
                            <input disabled id="Nombre" name="Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Apellido">Apellido</label>
                            <input disabled id="Apellido" name="Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_Correo">Correo</label>
                            <input id="Correo" name="Correo" class="campo_vacio email_valido form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Telefono">Telefono</label>
                            <input id="Telefono" name="Telefono" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label class="LB_FechaNacimiento">Fecha de Nacimiento</label>
                            <input disabled id="FechaNacimiento" name="FechaNacimiento" class="campo_vacio form-control" type="text" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_Genero">Genero</label>
                            <input disabled id="Genero" name="Telefono" class="campo_vacio caracteres_especiales form-control" type="text" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <h1 class="material-icons" style="font-size: 2rem;">vpn_key</h1>
            </div>

            <div class="card-body">
                <form id="FormCambiarContrasena" class="d-flex flex-column">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label class="LB_Contrasena">Contraseña</label>
                            <input value="" id="Contrasena" name="Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_NuevaContrasena">Nueva contraseña</label>
                            <input value="" id="NuevaContrasena" name="NuevaContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="LB_RepetirNuevaContrasena">Repetir nueva contraseña</label>
                            <input value="" id="RepetirNuevaContrasena" name="RepetirNuevaContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var FormDatosBasicos = $("#FormDatosBasicos");
    var TB_Id = document.getElementById("TB_Id");
    var Identificacion = document.getElementById("Identificacion");
    var Nombre = document.getElementById("Nombre");
    var Apellido = document.getElementById("Apellido");
    var Correo = document.getElementById("Correo");
    var Telefono = document.getElementById("Telefono");
    var FechaNacimiento = document.getElementById("FechaNacimiento");
    var Genero = document.getElementById("Genero");
    var Contrasena = document.getElementById("Contrasena");
    var NuevaContrasena = document.getElementById("NuevaContrasena");
    var RepetirNuevaContrasena = document.getElementById("RepetirNuevaContrasena");

    getUsuario();

    function getUsuario() {
        var url = "/Usuario/MisDatos/getUsuario";

        var data = {
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarDatosUsuario(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarDatosUsuario(usuario) {
        //console.log(usuario);

        TB_Id.value = usuario.Id;
        Identificacion.value = usuario.Identificacion;
        Nombre.value = usuario.Nombre;
        Apellido.value = usuario.Apellido;
        Correo.value = usuario.Correo;
        Telefono.value = usuario.Telefono;
        FechaNacimiento.value = usuario.FechaNacimiento;
        Genero.value = usuario.Genero;
    }

    FormDatosBasicos.submit(
        function (event) {
            event.preventDefault();

            FormDatosBasicos.validate();

            if (FormDatosBasicos.valid()) {
                cambiarDatosBasicos();
            }
        }
    );

    function cambiarDatosBasicos() {
        var url = "/Usuario/MisDatos/modificarDatosBasicos";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            Correo: Correo.value.trim(),
            Telefono: Telefono.value.trim(),
            IdUsuario: TB_Id.value,
            IdAcceso: acceso.Id
        }

        console.log(data);

        $.post(url, data).done(
            function (respuesta) {
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    var FormCambiarContrasena = $("#FormCambiarContrasena");

    FormCambiarContrasena.submit(
        function (event) {
            event.preventDefault();

            FormCambiarContrasena.validate({
                rules: {
                    RepetirNuevaContrasena: {
                        equalTo: "#NuevaContrasena"
                    }
                },
                messages: {
                    RepetirNuevaContrasena: {
                        equalTo: "<p class='RFV_ContrasenaNoCoincide text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if (FormCambiarContrasena.valid()) {
                cambiarContrasena();
            }
        }
    );

    function cambiarContrasena() {
        var url = "/Usuario/MisDatos/modificarContrasena";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            Contrasena: Contrasena.value.trim(),
            NuevaContrasena: NuevaContrasena.value.trim(),
            IdUsuario: TB_Id.value,
            IdAcceso: acceso.Id
        }

        console.log(data);

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO)
                    FormCambiarContrasena[0].reset();

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

</script>
