﻿
@{
    ViewBag.Title = "Compramatic";
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<style>
    div.banner {
        background-image: url(../../../../Images/banner_compramatic.PNG);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 255px;
    }

    .contentProductos {
        flex-wrap: wrap;
        justify-content: center;
    }

        .contentProductos > .card {
            max-width: 200px;
            min-width: 200px;
        }

    .precio {
        font-size: 1.8rem;
        font-weight: bold;
        color: orange;
        text-align: center;
    }

    .precio:before {
        content: "$";
    }
</style>


<div id="contentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="FormComentario" class="modal-content">
            <div class="modal-header">
                <h5 class="LB_Comentario modal-title" id="exampleModalLabel">Comentario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="TB_IdEmpresa" value="" />

                <div class="form-group">
                    <label class="LB_Empresa">Empresa</label>
                    <input id="TB_Empresa" class="form-control" disabled type="text" value="" />
                </div>

                <div class="form-group">
                    <label class="LB_Producto">Producto</label>
                    <input id="TB_Producto" class="form-control" disabled type="text" value="" />
                </div>

                <div class="form-group">
                    <label class="LB_Mensaje">Mensaje</label>
                    <textarea rows="2" id="TB_Mensaje" class="campo_vacio caracteres_especiales form-control" maxlength="100"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="BTN_EnviarComentario" type="submit" class="material-icons btn btn-primary">send</button>
            </div>
        </form>
    </div>
</div>


<div class="border-bottom m-5 p-1"></div>

<div class="row">
    <div class="col-3">
        <h4 class="LB_Categorias pb-3">Categorias</h4>

        <div id="contentCategorias">

        </div>
    </div>

    <div class="col-9">
        <div id="contentProductos" class="contentProductos card-deck">
        </div>
    </div>
</div>


<script>
    var contentCategorias = document.getElementById("contentCategorias");
    var contentProductos = document.getElementById("contentProductos");
    var contentModal = $("#contentModal");
    var FormComentario = $("#FormComentario");
    var BTN_EnviarComentario = document.getElementById("BTN_EnviarComentario");

    getCategorias();
    mostrarProductos("[]");

    function getCategorias() {
        contentCategorias.innerHTML = "";
        contentCategorias.appendChild(espera());
        $.post("/Usuario/Compramatic/getCategorias").done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarCategorias(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCategorias(categorias) {
        var listCategorias = JSON.parse(categorias);
        contentCategorias.innerHTML = "";

        if (listCategorias.length == 0) {
            contentCategorias.innerHTML = '<button type="button" class="list-group-item list-group-item-action">' + getTextoComponente("LB_TablaVacia") + '</button>';
        }

        listCategorias.sort((a, b) => a.nomCategoria.localeCompare(b.nomCategoria));

        listCategorias.forEach(
            function (categoria) {
                var btn = document.createElement("button");
                btn.setAttribute("type", "button");
                btn.setAttribute("IdCategoria", categoria.Id_cate);
                btn.textContent = categoria.nomCategoria;
                btn.className = "list-group-item list-group-item-action";
                btn.addEventListener("click", categoriaClick);
                contentCategorias.appendChild(btn);
            }
        );
    }

    function categoriaClick(event) {
        event.preventDefault();
        getProductos(event.target.getAttribute("IdCategoria"));
    }

    function getProductos(idCategoria) {
        contentProductos.innerHTML = "";
        contentProductos.appendChild(espera());
        $.post("/Usuario/Compramatic/getProductosPorCategoria", { IdCategoria: idCategoria }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarProductos(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarProductos(productos) {
        var listProductos = JSON.parse(productos);
        console.log(listProductos);
        contentProductos.innerHTML = "";

        if (listProductos.length == 0) {
            contentProductos.innerHTML = "<p>" + getTextoComponente("LB_TablaVacia") + "</p>";
        }

        listProductos.forEach(
            function (producto) {
                var card = document.createElement("div");
                card.className = "card";

                var img = document.createElement("img");
                img.className = "card-img-top";
                img.src = producto._foto;
                img.alt = "img";

                var cardBody = document.createElement("div");
                cardBody.className = "card-body";

                var titulo = document.createElement("h5");
                titulo.className = "card-title";
                titulo.textContent = producto._nomproducto;

                var desc = document.createElement("p");
                desc.className = "card-text";
                desc.textContent = producto._desproducto;

                var precio = document.createElement("p");
                precio.className = "precio";
                precio.textContent = producto._precioproducto;

                var btnVer = document.createElement("a");
                btnVer.className = "material-icons btn btn-primary";
                btnVer.textContent = "visibility";
                btnVer.href = "http://compramatic.hopto.org:88/Presentacion/Store.aspx";
                btnVer.setAttribute("target", "_blank");

                var btnComentar = document.createElement("button");
                btnComentar.className = "material-icons btn btn-danger ml-2";
                btnComentar.textContent = "comment";
                btnComentar.setAttribute("Producto", JSON.stringify(producto));
                btnComentar.addEventListener("click", comentarClick);

                var cardFooter = document.createElement("div");
                cardFooter.className = "card-footer text-muted";
                cardFooter.textContent = producto._nomempresa;


                card.appendChild(img);
                cardBody.appendChild(titulo);
                cardBody.appendChild(desc);
                cardBody.appendChild(precio);
                cardBody.appendChild(btnVer);
                cardBody.appendChild(btnComentar);
                card.appendChild(cardBody);
                card.appendChild(cardFooter);
                contentProductos.appendChild(card);
            }
        );
    }

    function comentarClick(event) {
        var producto = JSON.parse(event.target.getAttribute("Producto"));
        mostrarDatosComentario(producto);
    }

    function mostrarDatosComentario(producto) {
        document.getElementById("TB_IdEmpresa").value = producto._idempresa;
        document.getElementById("TB_Empresa").value = producto._nomempresa;
        document.getElementById("TB_Producto").value = producto._nomproducto;
        document.getElementById("TB_Mensaje").value = "";
        contentModal.modal('show');
    }

    FormComentario.submit(
        function (event) {
            event.preventDefault();
            FormComentario.validate();
            if (FormComentario.valid()) {
                enviarComentario();
            }
        }
    );

    function enviarComentario() {
        BTN_EnviarComentario.setAttribute("disabled", "disabled");
        var url = "/Usuario/Compramatic/enviarComentario";

        var data = {
            IdAcceso: getAcceso().Id,
            IdEmpresa: document.getElementById("TB_IdEmpresa").value,
            Producto: document.getElementById("TB_Producto").value,
            Mensaje: document.getElementById("TB_Mensaje").value.trim()
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    contentModal.modal('hide');
                    FormComentario[0].reset();
                }
                mostrarMensajeRespuestaPost(respuesta);
                BTN_EnviarComentario.removeAttribute("disabled");
            }
        ).fail(mostrarErrorRespuestaPost);
    }

</script>