﻿
@{
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<h2 class="LB_CitasAgendadas p-4 text-center">Citas Agendadas</h2>

<div id="GV_CitasAgendadas" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Fecha">Fecha</th>
                <th class="LB_HoraInicio">Hora Inicio</th>
                <th class="LB_HoraFin">Hora Fin</th>
                <th class="LB_servicio">Servicio</th>
                <th class="LB_Estado">Estado</th>
                <th class="LB_Consultorio">Consultorio</th>
                <th class="LB_Medico">Médico</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script>

    var GV_CitasAgendadas = document.getElementById("GV_CitasAgendadas");

    cargarCitas();

    function cargarCitas() {
        var url = "@Url.Action("cargarCitas", "CitasAgendadas", new { area="Usuario" })";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = { Acceso: acceso }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    console.log(respuesta.Data);
                    mostrarCitas(respuesta.Data);
                }
                else {
                    mostrarMensajeRespuestaPost(respuesta);
                }
            }).fail(mostrarErrorRespuestaPost);
    }

    function reprogramarCitaClick(event) {
        var id = event.target.getAttribute("IdCita");
        var url = "@Url.Action("validarCita", "CitasAgendadas", new { area="Usuario" })";

        var data = {
            IdCita: id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta) {
                    console.log(respuesta); 
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        localStorage.setItem("ReprogramarCita_IdCita", id);
                        window.location = "/Usuario/ReprogramarCita/ReprogramarCita";
                    }
                }
            }
        ).fail(mostrarErrorRespuestaPost);

        console.log("Reprogramar");
    }

    function eliminarCitaClick(event) {
        var idCita = event.target.getAttribute("IdCita");
        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var url = "@Url.Action("eliminarCita", "CitasAgendadas", new { area="Usuario" })";

        var data = {
            IdCita: idCita,
            IdAcceso: acceso.Id
        }

        confirm("Está seguro que desea eliminar la cita?");

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta) {
                    console.log(respuesta);
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        window.location = "/Usuario/CitasAgendadas/CitasAgendadas";
                    }
                }
            }
        ).fail(mostrarErrorRespuestaPost);
        
    }

    function mostrarCitas(citas) {
        var tbody = GV_CitasAgendadas.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadCitas = citas.length;

        if (cantidadCitas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "7");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        citas.forEach(
            function (cita) {
                var tr = document.createElement("tr");

                var tdFecha = document.createElement("td");
                var tdHoraInicio = document.createElement("td");
                var tdHoraFin = document.createElement("td");
                var tdServicio = document.createElement("td");
                var tdEstado = document.createElement("td");
                var tdConsultorio = document.createElement("td");
                var tdMedico = document.createElement("td");

                var btnDelete = document.createElement("button");
                var btnReprogramar = document.createElement("button");

                tdFecha.textContent = cita.Fecha;
                tdHoraInicio.textContent = cita.HoraInicio;
                tdHoraFin.textContent = cita.HoraFin;
                tdServicio.textContent = cita.Servicio;
                if (cita.Estado == "reservado") {
                    tdEstado.textContent = "Reservado";
                }
                tdConsultorio.textContent = cita.EMedico.EConsultorio.Nombre;
                tdMedico.textContent = cita.EMedico.Nombre + " " + cita.EMedico.Apellido;

                btnDelete.setAttribute("IdCita", cita.Id);
                btnDelete.className = "material-icons btn btn-warning";
                btnDelete.textContent = "delete";
                btnDelete.addEventListener("click", eliminarCitaClick);

                btnReprogramar.setAttribute("IdCita", cita.Id);
                btnReprogramar.className = "material-icons btn btn-primary";
                btnReprogramar.textContent = "calendar_today";
                btnReprogramar.addEventListener("click", reprogramarCitaClick);

                tr.appendChild(tdFecha);
                tr.appendChild(tdHoraInicio);
                tr.appendChild(tdHoraFin);
                tr.appendChild(tdServicio);
                tr.appendChild(tdEstado);
                tr.appendChild(tdConsultorio);
                tr.appendChild(tdMedico);
                tr.appendChild(btnReprogramar);
                tr.appendChild(btnDelete);

                tbody.appendChild(tr);
            }
        );
    }

</script>

