﻿
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_CrearCuenta text-center p-4">Crear Cuenta</h2>

<form id="form-crear-cuenta" class="d-flex flex-column">
    <div class="form-group">
        <label class="LB_Identificacion">Identificacion</label>
        <input id="Identificacion" name="Identificacion" class="campo_vacio solo_numeros caracteres_especiales form-control" type="text" />
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label class="LB_Nombre">Nombre</label>
            <input id="Nombre" name="Nombre" class="campo_vacio caracteres_especiales form-control" type="text" />
        </div>

        <div class="form-group col-sm-6">
            <label class="LB_Apellido">Apellido</label>
            <input id="Apellido" name="Apellido" class="campo_vacio caracteres_especiales form-control" type="text" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label class="LB_FechaNacimiento">Fecha nacimiento</label>
            <input id="FechaNacimiento" name="FechaNacimiento" class="campo_vacio form-control" type="date" />
        </div>

        <div class="form-group col-sm-6">
            <label class="LB_Genero">Genero</label>
            <select id="Genero" name="Genero" class="campo_vacio caracteres_especiales form-control">
                <option value="">Seleccione</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label class="LB_Correo">Correo</label>
            <input id="Correo" name="Correo" class="campo_vacio email_valido form-control" type="text" />
        </div>

        <div class="form-group col-sm-6">
            <label class="LB_Telefono">Telefono</label>
            <input id="Telefono" name="Telefono" class="campo_vacio caracteres_especiales form-control" type="tel" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label class="LB_Contrasena">Contraseña</label>
            <input id="Contrasena" name="Contrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
        </div>

        <div class="form-group col-sm-6">
            <label class="LB_RepetirContrasena">Repetir contraseña</label>
            <input id="RepetirContrasena" name="RepetirContrasena" class="contrasena_vacio caracteres_especiales form-control" type="password" />
        </div>
    </div>
    
    <button type="submit" id="BTN_CrearCuenta" class="material-icons btn btn-success align-self-center">add</button>
</form>

<script>
    
    $("#form-crear-cuenta").submit(
        function (e) {
            e.preventDefault();

            $("#form-crear-cuenta").validate({
                rules: {
                    RepetirContrasena: {
                        equalTo: "#Contrasena"
                    }
                },
                messages: {
                    RepetirContrasena: {
                        equalTo: "<p class='text-danger font-italic mb-0'>" + getTextoComponente("LB_ContrasenaNoCoincide") + "</p>"
                    }
                }
            });

            if ($("#form-crear-cuenta").valid()) {
                var url = "@Url.Action("CrearCuenta", "CrearCuenta")";

                var identificacion = $("#Identificacion").val().trim();
                var nombre = $("#Nombre").val().trim();
                var apellido = $("#Apellido").val().trim();
                var fechaNacimiento = $("#FechaNacimiento").val().trim();
                var genero = $("#Genero option:selected").val().trim();
                var correo = $("#Correo").val().trim();
                var telefono = $("#Telefono").val().trim();
                var contrasena = $("#Contrasena").val();

                var data = {
                    Identificacion: identificacion,
                    Nombre: nombre,
                    Apellido: apellido,
                    FechaNacimiento: fechaNacimiento,
                    Genero: genero,
                    Correo: correo,
                    Telefono: telefono,
                    Contrasena: contrasena
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

</script>