﻿
@{
    ViewBag.Title = "PlatoWeb2";
    Layout = "~/Areas/Medico/Views/Shared/MasterPage.cshtml";
}

<h2 class="p-4 text-center">Plato Web</h2>

<div id="GV_Menu" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Nombre">Nombre</th>
                <th class="LB_Descripcion">Descripción</th>
                <th class="LB_Precio">Precio</th>
                <th class="LB_Imagen">Imagen</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="align-items-center"></tbody>
    </table>
</div>


<div id="ContenedorReserva" class="p-4">
    <div id="FormReserva" class="card">

        <div class="card-header d-flex">
            <div class="col-11">
                <h3 class="LB_Reservar text-center">Reservar</h3>
            </div>
        </div>

        <div class="card-body">
            <form id="FormDatosEnvio">

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label class="LB_Fecha">Fecha</label>
                        <input class="form-control campo_vacio" type="text" id="TB_Fecha" name="TB_Fecha" style="cursor:pointer" readonly="readonly" value="" />
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="LB_Hora">Hora</label>
                        <select id="Horas" name="Horas" class="form-control campo_vacio">
                            <option value="0">Seleccione</option>
                            <option value="1">12</option>
                            <option value="2">13</option>
                            <option value="3">14</option>
                            <option value="4">15</option>
                            <option value="5">16</option>
                            <option value="6">17</option>
                            <option value="7">18</option>
                            <option value="8">19</option>
                            <option value="9">20</option>
                            <option value="10">21</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="LB_Cantidad">Cantidad Personas</label>
                    <select id="Cantidad" name="Cantidad" class="form-control campo_vacio">
                        <option value="0">Seleccione</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="material-icons btn btn-dark">add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ContenedorContactenos">
    <div id="FormContactenos" class="card">
        <div class="card-header d-flex">
            <div class="col-11">
                <h3 class="LB_Contacto text-center">Contacto Plato Web</h3>
            </div>
        </div>

        <div class="card-body">
            <form id="FormDatos">
                <div class="form-group">
                    <label class="LB_Nombre">Nombre</label>
                    <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Nombre" id="TB_Nombre" value="" />
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label class="LB_Correo">Email</label>
                        <input class="form-control email_valido campo_vacio caracteres_especiales" type="text" id="TB_Correo" name="TB_Correo" value="" />
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="LB_Telefono">Telefono</label>
                        <input class="form-control campo_vacio caracteres_especiales" type="text" id="TB_Telefono" name="TB_Telefono" value="" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="LB_Comentario">Comentario</label>
                    <textarea class="form-control campo_vacio caracteres_especiales" id="TB_comentarios" name="TB_comentarios" rows="10" cols="40" placeholder="Escriba aqui sus comentarios"></textarea>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="material-icons btn btn-dark" type="submit">email</button>
                </div>
            </form>
        </div>
    </div>
</div>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script>

    var GV_Menu = document.getElementById("GV_Menu");
    var ContenedorReserva = $("#ContenedorReserva");
    var FormDatosEnvio = $("#FormDatosEnvio");

    var FormDatos = $("#FormDatos");

    var TB_Fecha = document.getElementById("TB_Fecha");
    var Cantidad = document.getElementById("Cantidad");
    var Horas = document.getElementById("Horas");
    var TB_Nombre = document.getElementById("TB_Nombre");
    var TB_Correo = document.getElementById("TB_Correo");
    var TB_Telefono = document.getElementById("TB_Telefono");
    var TB_comentarios = document.getElementById("TB_comentarios");


    var idPlato = -1;

    $("#TB_Fecha").datepicker({
        minDate: "+0D",
        maxDate: "+100Y",
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    });

    traerMenu();

    function traerMenu() {
        ContenedorReserva.hide();
        var url = "@Url.Action("traerMenu", "PlatoWeb", new { area = "Medico" })";

        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarmenu(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    FormDatosEnvio.submit(
        function (event) {
            event.preventDefault();
            idPlato = event.target.getAttribute("IdPlato");

            console.log("Id plato:");
            console.log(idPlato);

            FormDatosEnvio.validate();

            if (FormDatosEnvio.valid()) {
                enviarReserva();
            }
        }
    );

    FormDatos.submit(
        function (event) {
            event.preventDefault();

            FormDatos.validate();

            if (FormDatos.valid()) {
                enviarDatosContactenos();
            }
        }
    );

    function reservarPlatoClick(event) {
        ContenedorReserva.show();
    }

    function enviarDatosContactenos() {
        var url = "@Url.Action("contactosPlatoWeb", "PlatoWeb", new { area="Medico" })";

        var data = {
            Nombre: TB_Nombre.value,
            Email: TB_Correo.value,
            Telefono: TB_Telefono.value,
            Detalle: TB_comentarios.value
        }

        console.log(data);

        $.post(url, data).done(
            function (respuesta) {
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function enviarReserva() {
        var url = "@Url.Action("reservarPlato", "PlatoWeb", new { area="Medico" })";

        var data = {
            Fecha: TB_Fecha.value,
            Hora: Horas.value,
            CantidadPersonas: Cantidad.value,
            IdPlato: 1
        }

        $.post(url, data).done(
            function (respuesta) {
                mostrarMensajeRespuestaPost(respuesta);
                ContenedorReserva.hide();
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarmenu(platos) {
        var tbody = GV_Menu.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadPlatos = platos.length;

        if (cantidadPlatos == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = "No hay informacion que mostrar";
            td.setAttribute("colspan", "7");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        platos.forEach(
            function (plato) {
                var tr = document.createElement("tr");

                var tdNombre = document.createElement("td");
                var tdDescripcion = document.createElement("td");
                var tdPrecio = document.createElement("td");
                var tdImagen = document.createElement("td");
                var imagen = document.createElement("img");

                var btnReservar = document.createElement("button");

                tdNombre.textContent = plato.Nombre;
                tdDescripcion.textContent = plato.Descripcion;
                tdPrecio.textContent = "$" + plato.Precio;
                imagen.src = plato.Imagen;
                imagen.alt = "Traida de plato a la web";
                imagen.height = "100";
                imagen.width = "100";
                imagen.className = "m-2";


                btnReservar.setAttribute("IdPlato", plato.Id);
                btnReservar.className = "material-icons btn btn-light m-2";
                btnReservar.textContent = "local_dining";
                btnReservar.addEventListener("click", reservarPlatoClick);

                tr.appendChild(tdNombre);
                tr.appendChild(tdDescripcion);
                tr.appendChild(tdPrecio);
                tr.appendChild(imagen);
                tr.appendChild(btnReservar);

                tbody.appendChild(tr);
            }
        );
    }

</script>




