﻿
@{
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_GestionarIdiomas text-center p-4">Gestionar idiomas</h2>

<div class="card mb-4">
    <div class="card-header">
        <h4 class="LB_Idioma">Idioma</h4>
    </div>

    <div class="card-body">

        <div id="ContenedorAgregarIdioma" class="card">
            <div class="card-header">
                <h4 class="LB_Agregar">Agregar</h4>
            </div>

            <div class="card-body">
                <form id="FormAgregarIdioma">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="LB_Nombre">Nombre</label>
                            <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Nombre" value="" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="LB_Extension">Extension</label>
                            <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Extension" value="" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-success">add</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="ContenedorModificarIdioma" class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h4 class="LB_Modificar">Modificar</h4>
                    </div>

                    <div class="col-1">
                        <button class="material-icons btn btn-danger" onclick="mostrarAgregarIdioma()">close</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form id="FormModificarIdioma">
                    <input type="hidden" name="TB_Id" value="" />

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="LB_Nombre">Nombre</label>
                            <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Nombre" value="" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="LB_Extension">Extension</label>
                            <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Extension" value="" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table id="GV_Idioma" class="table table-hover">
                <thead>
                    <tr>
                        <th class="LB_Nombre">Nombre</th>
                        <th class="LB_Extension">Extension</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @* Idiomas *@
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <h4 class="LB_Componente">Componente</h4>
    </div>

    <div class="card-body">

        <div id="ContenedorAgregarComponente" class="card">
            <div class="card-header">
                <h4 class="LB_Agregar">Agregar</h4>
            </div>

            <div class="card-body">
                <form id="FormAgregarComponente">
                    <div class="form-group">
                        <label class="LB_Nombre">Nombre</label>
                        <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Nombre" value="" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-success">add</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="ContenedorModificarComponente" class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h4 class="LB_Modificar">Modificar</h4>
                    </div>

                    <div class="col-1">
                        <button class="material-icons btn btn-danger" onclick="mostrarAgregarComponente()">close</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form id="FormModificarComponente">
                    <input type="hidden" name="TB_Id" value="" />

                    <div class="form-group">
                        <label class="LB_Nombre">Nombre</label>
                        <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Nombre" value="" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-4">
            <form id="FormBuscarComponente" class="d-flex align-items-start justify-content-center mt-4">
                <div>
                    <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Parametro" value="" maxlength="15" />
                </div>

                <button class="material-icons btn btn-primary">search</button>
            </form>
        </div>

        <div class="table-responsive" style="max-height:500px;">
            <table id="GV_Componente" class="table table-hover">
                <thead>
                    <tr>
                        <th class="LB_Nombre">Nombre</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @* Componentes *@
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4 class="LB_IdiomaComponente">Idioma - Componente</h4>
    </div>

    <div class="card-body">

        <div class="card">
            <div class="card-header">
                <h4 class="LB_Agregar">Agregar</h4>
            </div>

            <div class="card-body">
                <form id="FormAgregarIdiomaComponente">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="LB_NombreComponente">Nombre componente</label>
                            <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_NombreComponente" value="" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="LB_Idioma">Idioma</label>
                            <select name="DDL_Idioma" class="form-control campo_vacio">
                                <option class="LB_Seleccione" value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="LB_Texto">Texto</label>
                        <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Texto" value="" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-success">add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-4">
            <form id="FormBuscarIdiomaComponente" class="d-flex align-items-start justify-content-center mt-4">
                <div>
                    <input class="form-control campo_vacio caracteres_especiales" type="text" name="TB_Parametro" value="" maxlength="15" />
                </div>

                <button class="material-icons btn btn-primary">search</button>
            </form>
        </div>

        <div class="table-responsive" style="max-height:500px;">
            <table id="GV_IdiomaComponente" class="table table-hover">
                <thead>
                    <tr>
                        <th class="LB_Componente">Componente</th>
                        <th class="LB_Idioma">Idioma</th>
                        <th class="LB_Texto">Texto</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @* IdiomaComponente *@
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    // Variables
    var ContenedorAgregarIdioma = $("#ContenedorAgregarIdioma");
    var ContenedorModificarIdioma = $("#ContenedorModificarIdioma");

    var FormAgregarIdioma = $("#FormAgregarIdioma");
    var FormModificarIdioma = $("#FormModificarIdioma");

    var GV_Idioma = document.getElementById("GV_Idioma");

    // Configuracion inicial
    getIdiomas();
    mostrarAgregarIdioma();


    // Eventos

    FormAgregarIdioma.submit(
        function (event) {
            event.preventDefault();
            FormAgregarIdioma.validate
            if (FormAgregarIdioma.valid()) {
                agregarIdioma();
            }
        }
    );

    FormModificarIdioma.submit(
        function (event) {
            event.preventDefault();
            FormModificarIdioma.validate
            if (FormModificarIdioma.valid()) {
                modificarIdioma();
            }
        }
    );

    function modificarIdiomaClick(event) {
        event.preventDefault();
        var idIdioma = event.target.getAttribute("IdIdioma");
        getIdiomaAModificar(idIdioma);
    }

    function eliminarIdiomaClick(event) {
        event.preventDefault();
        var idIdioma = event.target.getAttribute("IdIdioma");
        eliminarIdioma(idIdioma);
    }


    // Acciones

    function mostrarAgregarIdioma() {
        ContenedorAgregarIdioma.show();
        ContenedorModificarIdioma.hide();
    }

    function mostrarModificarIdioma() {
        ContenedorAgregarIdioma.hide();
        ContenedorModificarIdioma.show();
    }

    function agregarIdioma() {
        var data = {
            Name: FormAgregarIdioma.find("[name=TB_Nombre]")[0].value.trim(),
            Terminacion: FormAgregarIdioma.find("[name=TB_Extension]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/agregarIdioma", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormAgregarIdioma[0].reset();
                    getIdiomas();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getIdiomaAModificar(id) {
        $.post("/Administrador/Idiomas/getIdioma", {Id: id}).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarIdiomaAModificar(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarIdiomaAModificar(idioma) {
        FormModificarIdioma.find("[name=TB_Id]")[0].value = idioma.Id;
        FormModificarIdioma.find("[name=TB_Nombre]")[0].value = idioma.Name;
        FormModificarIdioma.find("[name=TB_Extension]")[0].value = idioma.Terminacion;
        mostrarModificarIdioma();
    }

    function modificarIdioma() {
        var data = {
            Id: FormModificarIdioma.find("[name=TB_Id]")[0].value,
            Name: FormModificarIdioma.find("[name=TB_Nombre]")[0].value.trim(),
            Terminacion: FormModificarIdioma.find("[name=TB_Extension]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/modificarIdioma", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    getIdiomas();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    var IdIdiomaEliminar = null;
    function eliminarIdioma(id) {
        IdIdiomaEliminar = id;

        var data = {
            Id: id,
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/eliminarIdioma", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    if (FormModificarIdioma.find("[name=TB_Id]")[0].value == IdIdiomaEliminar) {
                        FormModificarIdioma[0].reset();
                        mostrarAgregarIdioma();
                    }

                    $("tr[IdIdioma='" + IdIdiomaEliminar + "']").remove();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getIdiomas() {
        $.post("/Administrador/Idiomas/getIdiomas").done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarIdiomas(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarIdiomas(idiomas) {
        var tbody = GV_Idioma.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadIdiomas = idiomas.length;

        if (cantidadIdiomas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "3");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        idiomas.forEach(
            function (idioma) {
                var tr = document.createElement("tr");
                tr.setAttribute("IdIdioma", idioma.Id);

                var tdNombre = document.createElement("td");
                var tdExtension = document.createElement("td");
                var tdBotones = document.createElement("td");
                var btnModificar = document.createElement("button");
                var btnEliminar = document.createElement("button");

                tdNombre.textContent = idioma.Name;
                tdExtension.textContent = idioma.Terminacion;

                btnModificar.setAttribute("IdIdioma", idioma.Id);
                btnModificar.className = "material-icons btn btn-info";
                btnModificar.textContent = "edit";
                btnModificar.addEventListener("click", modificarIdiomaClick);

                btnEliminar.setAttribute("IdIdioma", idioma.Id);
                btnEliminar.className = "material-icons btn btn-danger";
                btnEliminar.textContent = "delete_forever";
                btnEliminar.addEventListener("click", eliminarIdiomaClick);

                tdBotones.appendChild(btnModificar);
                tdBotones.appendChild(btnEliminar);

                tr.appendChild(tdNombre);
                tr.appendChild(tdExtension);
                tr.appendChild(tdBotones);

                tbody.appendChild(tr);
            }
        );
    }


    // Variables
    var ContenedorAgregarComponente = $("#ContenedorAgregarComponente");
    var ContenedorModificarComponente = $("#ContenedorModificarComponente");

    var FormAgregarComponente = $("#FormAgregarComponente");
    var FormModificarComponente = $("#FormModificarComponente");
    var FormBuscarComponente = $("#FormBuscarComponente");

    var GV_Componente = document.getElementById("GV_Componente");


    // Configuracion inicial
    mostrarAgregarComponente();
    mostrarComponentes([]);


    // Eventos

    FormAgregarComponente.submit(
        function (event) {
            event.preventDefault();
            FormAgregarComponente.validate
            if (FormAgregarComponente.valid()) {
                agregarComponente();
            }
        }
    );

    FormModificarComponente.submit(
        function (event) {
            event.preventDefault();
            FormModificarComponente.validate
            if (FormModificarComponente.valid()) {
                modificarComponente();
            }
        }
    );

    FormBuscarComponente.submit(
        function (event) {
            event.preventDefault();

            FormBuscarComponente.validate();

            if (FormBuscarComponente.valid()) {
                buscarComponente(FormBuscarComponente.find("[name=TB_Parametro]")[0].value.trim());
            }
        }
    );

    function modificarComponenteClick(event) {
        event.preventDefault();
        var idComponente = event.target.getAttribute("IdComponente");
        getComponenteAModificar(idComponente);
    }

    function eliminarComponenteClick(event) {
        event.preventDefault();
        var idComponente = event.target.getAttribute("IdComponente");
        eliminarComponente(idComponente);
    }


    // Acciones

    function mostrarAgregarComponente() {
        ContenedorAgregarComponente.show();
        ContenedorModificarComponente.hide();
    }

    function mostrarModificarComponente() {
        ContenedorAgregarComponente.hide();
        ContenedorModificarComponente.show();
    }

    function agregarComponente() {
        var data = {
            Name: FormAgregarComponente.find("[name=TB_Nombre]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/agregarComponente", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormAgregarComponente[0].reset();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getComponenteAModificar(id) {
        $.post("/Administrador/Idiomas/getComponente", { Id: id }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarComponenteAModificar(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarComponenteAModificar(componente) {
        FormModificarComponente.find("[name=TB_Id]")[0].value = componente.Id;
        FormModificarComponente.find("[name=TB_Nombre]")[0].value = componente.Name;
        mostrarModificarComponente();
    }

    function modificarComponente() {
        var data = {
            Id: FormModificarComponente.find("[name=TB_Id]")[0].value,
            Name: FormModificarComponente.find("[name=TB_Nombre]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/modificarComponente", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormBuscarComponente.submit();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    var IdComponenteEliminar = null;
    function eliminarComponente(id) {
        IdComponenteEliminar = id;

        var data = {
            Id: id,
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/eliminarComponente", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    if (FormModificarComponente.find("[name=TB_Id]")[0].value == IdComponenteEliminar) {
                        FormModificarComponente[0].reset();
                        mostrarAgregarComponente();
                    }

                    $("tr[IdComponente='" + IdComponenteEliminar + "']").remove();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getComponentes() {
        $.post("/Administrador/Idiomas/getComponentes").done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarComponentes(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarComponentes(componentes) {
        var tbody = GV_Componente.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadComponentes = componentes.length;

        if (cantidadComponentes == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "3");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        componentes.forEach(
            function (componente) {
                var tr = document.createElement("tr");
                tr.setAttribute("IdComponente", componente.Id);

                var tdNombre = document.createElement("td");

                var tdBotones = document.createElement("td");
                var btnModificar = document.createElement("button");
                var btnEliminar = document.createElement("button");

                tdNombre.textContent = componente.Name;

                btnModificar.setAttribute("IdComponente", componente.Id);
                btnModificar.className = "material-icons btn btn-info";
                btnModificar.textContent = "edit";
                btnModificar.addEventListener("click", modificarComponenteClick);

                btnEliminar.setAttribute("IdComponente", componente.Id);
                btnEliminar.className = "material-icons btn btn-danger";
                btnEliminar.textContent = "delete_forever";
                btnEliminar.addEventListener("click", eliminarComponenteClick);

                tdBotones.appendChild(btnModificar);
                tdBotones.appendChild(btnEliminar);

                tr.appendChild(tdNombre);
                tr.appendChild(tdBotones);

                tbody.appendChild(tr);
            }
        );
    }

    function buscarComponente(parametro) {
        $.post("/Administrador/Idiomas/buscarComponente", { Parametro: parametro }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarComponentes(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }


    // Variables

    var FormAgregarIdiomaComponente = $("#FormAgregarIdiomaComponente");
    var FormBuscarIdiomaComponente = $("#FormBuscarIdiomaComponente");
    var GV_IdiomaComponente = document.getElementById("GV_IdiomaComponente");

    // Configuracion inicial
    getIdiomasDDL();
    mostrarIdiomaComponentes([]);


    // Eventos

    FormAgregarIdiomaComponente.submit(
        function (event) {
            event.preventDefault();
            FormAgregarIdiomaComponente.validate();
            if (FormAgregarIdiomaComponente.valid()) {
                agregarIdiomaComponente();
            }
        }
    );

    FormBuscarIdiomaComponente.submit(
        function (event) {
            event.preventDefault();
            FormBuscarIdiomaComponente.validate();
            if (FormBuscarIdiomaComponente.valid()) {
                buscarIdiomaComponente();
            }
        }
    );

    function eliminarIdiomaComponenteClick(event) {
        event.preventDefault();
        var idIdiomaComponente = event.target.getAttribute("IdIdiomaComponente");
        eliminarIdiomaComponente(idIdiomaComponente);
    }


    // Acciones

    function getIdiomasDDL() {
        $.post("/Administrador/Idiomas/getIdiomas").done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarIdiomasDDL(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarIdiomasDDL(idiomas) {
        var DDL_Idiomas = FormAgregarIdiomaComponente.find("[name=DDL_Idioma]")[0];

        DDL_Idiomas.innerHTML = "";

        var optionSelect = document.createElement("option");
        optionSelect.value = "";
        optionSelect.textContent = "Seleccione";

        DDL_Idiomas.appendChild(optionSelect);

        idiomas.forEach(
            function (idioma) {
                var option = document.createElement("option");
                option.value = idioma.Id;
                option.textContent = idioma.Name;

                DDL_Idiomas.appendChild(option);
            }
        );
    }

    function agregarIdiomaComponente() {
        var DDL_Idiomas = FormAgregarIdiomaComponente.find("[name=DDL_Idioma]")[0];

        var data = {
            IdIdioma: DDL_Idiomas.options[DDL_Idiomas.selectedIndex].value,
            NombreComponente: FormAgregarIdiomaComponente.find("[name=TB_NombreComponente]")[0].value.trim(),
            Texto: FormAgregarIdiomaComponente.find("[name=TB_Texto]")[0].value.trim(),
            IdAcceso: getAcceso().Id
        }

        $.post("/Administrador/Idiomas/agregarIdiomaComponente", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormAgregarIdiomaComponente[0].reset();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getIdiomaComponentes() {
        $.post("/Administrador/Idiomas/getIdiomaComponentes").done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarIdiomaComponentes(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarIdiomaComponentes(idiomaComponentes) {
        var tbody = GV_IdiomaComponente.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadIdiomaComponentes = idiomaComponentes.length;

        if (cantidadIdiomaComponentes == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "4");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        idiomaComponentes.forEach(
            function (idiomaComponente) {
                var tr = document.createElement("tr");
                tr.setAttribute("IdIdiomaComponente", idiomaComponente.Id);

                var tdNombreComponente = document.createElement("td");
                var tdIdioma = document.createElement("td");
                var tdTexto = document.createElement("td");
                var tdBotones = document.createElement("td");
                var btnEliminar = document.createElement("button");

                tdNombreComponente.textContent = idiomaComponente.EComponente.Name;
                tdIdioma.textContent = idiomaComponente.EIdioma.Name;
                tdTexto.textContent = idiomaComponente.Txt;

                btnEliminar.setAttribute("IdIdiomaComponente", idiomaComponente.Id);
                btnEliminar.className = "material-icons btn btn-danger";
                btnEliminar.textContent = "delete_forever";
                btnEliminar.addEventListener("click", eliminarIdiomaComponenteClick);

                tdBotones.appendChild(btnEliminar);

                tr.appendChild(tdNombreComponente);
                tr.appendChild(tdIdioma);
                tr.appendChild(tdTexto);
                tr.appendChild(tdBotones);

                tbody.appendChild(tr);
            }
        );
    }

    var idIdiomaComponenteEliminar = null;
    function eliminarIdiomaComponente(id) {
        idIdiomaComponenteEliminar = id;
        $.post("/Administrador/Idiomas/eliminarIdiomaComponente", { Id: id, IdAcceso: getAcceso().Id }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    $("tr[IdIdiomaComponente='" + idIdiomaComponenteEliminar + "']").remove();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function buscarIdiomaComponente() {
        var data = {
            Parametro: FormBuscarIdiomaComponente.find("[name=TB_Parametro]")[0].value.trim()
        }

        $.post("/Administrador/Idiomas/buscarIdiomaComponentes", data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarIdiomaComponentes(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

</script>