﻿
@{
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_GestionarEspecialidades p-4 text-center">Gestionar especialidades</h2>

<div id="ContenedorAgregar" class="p-4">
    <div class="card">
        <div class="card-header">
            <h4 class="LB_Agregar text-center">Agregar</h4>
        </div>

        <div class="card-body">
            <form id="FormAgregar">
                <div class="form-group">
                    <label class="LB_Nombre">Nombre</label>
                    <input class="form-control caracteres_especiales campo_vacio" type="text" name="Nombre" />
                </div>

                <div class="d-flex justify-content-center">
                    <button class="material-icons btn btn-success">add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ContenedorModificar" class="p-4">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-11">
                    <h4 class="LB_Modificar text-center">Modificar</h4>
                </div>

                <div class="col-1">
                    <button class="material-icons btn btn-danger" onclick="mostrarAgregar()">close</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form id="FormModificar">
                <input type="hidden" name="Id" value="" />

                <div class="form-group">
                    <label class="LB_Nombre">Nombre</label>
                    <input class="form-control caracteres_especiales campo_vacio" type="text" name="Nombre" />
                </div>

                <div class="d-flex justify-content-center">
                    <button class="material-icons btn btn-info">edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<form id="FormBuscar" class="form-inline justify-content-center p-4">
    <div class="d-flex flex-column">
        <input class="form-control caracteres_especiales" type="search" id="ParametroBusqueda" name="ParametroBusqueda" value="" />
    </div>

    <button class="material-icons btn btn-primary">search</button>
</form>

<div id="GVEspecialidades" class="d-flex justify-content-center p-4">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="LB_Nombre">Nombre</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
</div>


<script>
    var ContenedorAgregar = $("#ContenedorAgregar");
    var ContenedorModificar = $("#ContenedorModificar");

    var FormAgregar = $("#FormAgregar");
    var FormModificar = $("#FormModificar");

    var FormBuscar = $("#FormBuscar");
    var GVEspecialidades = document.getElementById("GVEspecialidades");

    mostrarAgregar();
    buscar("");


    function mostrarAgregar() {
        ContenedorAgregar.show();
        ContenedorModificar.hide();
    }

    function mostrarModificar() {
        ContenedorModificar.show();
        ContenedorAgregar.hide();
    }

    FormAgregar.submit(
        function (event) {
            event.preventDefault();

            FormAgregar.validate();

            if (FormAgregar.valid()) {
                var url = "/Administrador/Especialidades/addEspecialidad";

                var data = {
                    Nombre: FormAgregar.find("input[name=Nombre]")[0].value.trim(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(
                    function (respuesta) {
                        if (respuesta.Estado == MENSAJE_CORRECTO) {
                            FormAgregar[0].reset();
                            buscar(FormAgregar.find("input[name=Nombre]")[0].value.trim());
                        }

                        mostrarMensajeRespuestaPost(respuesta);
                    }
                ).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormModificar.submit(
        function (event) {
            event.preventDefault();

            FormModificar.validate();

            if (FormModificar.valid()) {
                var url = "/Administrador/Especialidades/updateEspecialidad";

                var data = {
                    Id: FormModificar.find("input[name=Id]")[0].value.trim(),
                    Nombre: FormModificar.find("input[name=Nombre]")[0].value.trim(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(
                    function (respuesta) {
                        if (respuesta.Estado == MENSAJE_CORRECTO) {
                            buscar(FormModificar.find("input[name=Nombre]")[0].value.trim());
                            FormModificar[0].reset();
                            mostrarAgregar();
                        }
                        mostrarMensajeRespuestaPost(respuesta);
                    }
                ).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    function modificarClick(event) {
        var idEspecialidad = event.target.getAttribute("IdEspecialidad");
        
        var url = "/Administrador/Especialidades/getEspecialidad";

        var data = {
            IdEspecialidad: idEspecialidad
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormModificar.find("[name=Id]")[0].value = respuesta.Data.Id;
                    FormModificar.find("[name=Nombre]")[0].value = respuesta.Data.Nombre;
                    mostrarModificar();
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    var idEspecialidadParaEliminar = 0;
    function eliminarClick(event) {
        idEspecialidadParaEliminar = event.target.getAttribute("IdEspecialidad");

        var url = "/Administrador/Especialidades/deleteEspecialidad";

        var data = {
            IdEspecialidad: idEspecialidadParaEliminar,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    if ($("tr[IdEspecialidad=" + idEspecialidadParaEliminar + "]")) {
                        $("tr[IdEspecialidad=" + idEspecialidadParaEliminar + "]").remove();
                    }

                    if (FormModificar.find("[name=Id]")[0].value == idEspecialidadParaEliminar) {
                        mostrarAgregar();
                    }
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    FormBuscar.submit(
        function (event) {
            event.preventDefault();
            FormBuscar.validate();
            if (FormBuscar.valid()) {
                buscar(document.getElementById("ParametroBusqueda").value);
            }
        }
    );

    function buscar(parametro) {
        var url = "/Administrador/Especialidades/buscar";

        $.post(url, { Parametro: parametro }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarEspecialidades(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarEspecialidades(especialidades) {
        var tbody = GVEspecialidades.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadespecialidades = especialidades.length;

        if (cantidadespecialidades == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "2");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        especialidades.forEach(
            function (especialidad) {
                var tr = document.createElement("tr");
                tr.setAttribute("IdEspecialidad", especialidad.Id);

                var tdNombre = document.createElement("td");
                var tdBotones = document.createElement("td");
                var btnModificar = document.createElement("button");
                var btnEliminar = document.createElement("button");

                tdNombre.textContent = especialidad.Nombre;

                btnModificar.setAttribute("IdEspecialidad", especialidad.Id);
                btnModificar.addEventListener("click", modificarClick);
                btnModificar.textContent = "edit";
                btnModificar.className = "material-icons btn btn-info";

                btnEliminar.setAttribute("IdEspecialidad", especialidad.Id);
                btnEliminar.addEventListener("click", eliminarClick);
                btnEliminar.textContent = "delete_forever";
                btnEliminar.className = "material-icons btn btn-danger";

                tdBotones.appendChild(btnModificar);
                tdBotones.appendChild(btnEliminar);

                tr.appendChild(tdNombre);
                tr.appendChild(tdBotones);

                tbody.appendChild(tr);
            }
        );
    }

</script>