﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="~/logo.png" />

    <title>Brais</title>

    @Scripts.Render("~/bundles/jquery")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap4.min.css">
    <link href="~/Content/main.css" rel="stylesheet" />

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/General/Constantes.js"></script>
    <script src="~/Scripts/Idioma/Idioma.js"></script>
    <script src="~/Scripts/General/RespuestasServer.js"></script>
    <script src="~/Scripts/General/ValidacionesCampos.js"></script>

    <script>
        if (localStorage.getItem("Acceso")) {
            var acceso = JSON.parse(localStorage.getItem("Acceso"));

            var url = "@Url.Action("getTipoUsuario", "Seguridad")";

            var data = {
                IdAcceso: acceso.Id
            }

            $.ajax({
                url: url,
                type: "POST",
                async: false,
                data: data,
                success: function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        if (respuesta.Data == "administrador") {
                            window.location = "@Url.Action("VerUsuarios", "VerUsuarios", new { area="Administrador" })";
                        }
                        else if (respuesta.Data == "medico") {
                            window.location = "@Url.Action("Agenda", "Agenda", new { area="Medico" })";
                        }
                        else if (respuesta.Data == "usuario") {
                            window.location = "@Url.Action("AsignarCita", "AsignarCita", new { area="Usuario" })";
                        }
                    }
                },
                error: mostrarErrorRespuestaPost
            });
        }

        if (!localStorage.getItem("Componentes")) {
            $.ajax({
                url: "/Administrador/Idiomas/getComponentesPorIdioma",
                type: "POST",
                async: false,
                data: { IdIdioma: 2 },
                success: function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        localStorage.setItem("Componentes", respuesta.Data);
                        window.location = window.location;
                    }
                },
                error: mostrarErrorRespuestaPost
            });
        }
         
    </script>


</head>
<body>
    <header class="row align-items-center" style="background-color: rgb(255, 187, 46)">
        <div class="col-2">
            <img src="~/Images/logo.png" class="d-block p-2" style="width: 200px;" alt="Alternate Text" />
        </div>
        <div class="col-10">
            <h1 class="text-center font-weight-bold text-white" style="font-family: helvetica;">BRAIS</h1>
        </div>
    </header>

    <div class="navbar navbar-dark justify-content-start bg-dark">
        @Html.ActionLink("Pagina principal", "PaginaPrincipal", "PaginaPrincipal", null, new { @class = "LB_PaginaPrincipal btn btn-dark" })
        @Html.ActionLink("Sobre nosotros", "SobreNosotros", "SobreNosotros", null, new { @class = "LB_SobreNosotros btn btn-dark" })
        @Html.ActionLink("Crear cuenta", "CrearCuenta", "CrearCuenta", null, new { @class = "LB_CrearCuenta btn btn-dark" })
        @Html.ActionLink("Acceder", "Login", "Login", null, new { @class = "LB_Acceder BTN_Acceder btn btn-dark" })
        @Html.ActionLink("Uniempleo", "Uniempleo", "Uniempleo", null, new { @class = "LB_Uniempleo btn btn-dark" })
        <a target="_blank" href="~/Documents/Manual_de_usuario.pdf" class="LB_ManualUsuario btn btn-link">Manual de usuario</a>

        <div id="DropDownListIdiomas" class="dropdown">
            <button class="LB_Idioma btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Idioma
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            </div>
        </div>
    </div>

    <div id="mensajes" class="d-inline" style="overflow:auto; right: 0; bottom: 0; position:fixed; max-height:25%;"></div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script>

        var DropDownListIdiomas = document.getElementById("DropDownListIdiomas");

        getIdiomas();

        function getIdiomas() {
            var url = "/Administrador/Idiomas/getIdiomas";

            $.post(url).done(
                function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        mostrarIdiomas(respuesta.Data);
                    }
                    mostrarMensajeRespuestaPost(respuesta);
                }
            ).fail(mostrarErrorRespuestaPost);
        }

        function mostrarIdiomas(idiomas) {
            var dropDownMenu = DropDownListIdiomas.querySelector(".dropdown-menu");

            idiomas.forEach(
                function (idioma) {
                    var btn = document.createElement("button");
                    btn.setAttribute("IdIdioma", idioma.Id);
                    btn.className = "dropdown-item";
                    btn.addEventListener("click", establecerIdioma);
                    btn.textContent = idioma.Name;
                    dropDownMenu.appendChild(btn);
                }
            );
        }

        function establecerIdioma(event) {
            event.preventDefault();
            var idIdioma = event.target.getAttribute("IdIdioma");

            $.post("/Administrador/Idiomas/getComponentesPorIdioma", { IdIdioma: idIdioma }).done(
                function (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        localStorage.setItem("Componentes", respuesta.Data);
                        window.location = window.location;
                    }
                }
            ).fail(mostrarErrorRespuestaPost);
        }
    </script>

</body>
</html>
