﻿
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="text-center p-4 LB_RestablecerContrasena">Restablecer contrasena</h2>

<form id="FormRecuperarContrasena" class="d-flex flex-column max-width-form">
    <div class="form-group">
        <label class="LB_Identificacion">Identificacion</label>
        <input id="Identificacion" name="Identificacion" class="campo_vacio solo_numeros form-control" type="text" />
    </div>

    <div class="form-group">
        <label class="LB_Correo">Correo</label>
        <input id="Correo" name="Correo" class="campo_vacio email_valido form-control" type="text" />
    </div>

    <button type="submit" class="material-icons btn btn-success align-self-center">check</button>
</form>

<script>
    $("#FormRecuperarContrasena").submit(function (e) {
        e.preventDefault();

        $("#FormRecuperarContrasena").validate();

        if ($("#FormRecuperarContrasena").valid()) {

            var url = "@Url.Action("RecuperarContrasena", "RecuperarContrasenaPasoUno")";

            var data = {
                Identificacion: $("#Identificacion").val().trim(),
                Correo: $("#Correo").val().trim()
            }

            $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
        }
    });
</script>

