﻿
@{
    ViewBag.Title = "Uniempleo";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_Uniempleo p-4 text-center">Uniempleo</h2>

<div id="GV_Ofertas" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Nombre">Nombre</th>
                <th class="LB_Sueldo">Sueldo</th>
                <th class="LB_Horario">Horario</th>
                <th class="LB_Fuciones">Funciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>

    var GV_Ofertas = document.getElementById("GV_Ofertas");

    cargarOfertas();

    function cargarOfertas() {
        var url = "@Url.Action("getOfertas", "Uniempleo")";
        
        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarOfertas(respuesta.Data);
                }
                else {
                    mostrarMensajeRespuestaPost(respuesta);
                }
            }).fail(mostrarErrorRespuestaPost);
    }

    function mostrarOfertas(ofertas) {
        var tbody = GV_Ofertas.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadOfertas = ofertas.length;

        if (cantidadOfertas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "7");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        ofertas.forEach(
            function (oferta) {
                var tr = document.createElement("tr");

                var tdNombre = document.createElement("td");
                var tdSueldo = document.createElement("td");
                var tdHorario = document.createElement("td");
                var tdFunciones = document.createElement("td");

                tdNombre.textContent = oferta.Nombre_oferta;
                tdSueldo.textContent = oferta.Sueldo;
                tdHorario.textContent = oferta.Horario;
                tdFunciones.textContent = oferta.Funciones;

                tr.appendChild(tdNombre);
                tr.appendChild(tdSueldo);
                tr.appendChild(tdHorario);
                tr.appendChild(tdFunciones);

                tbody.appendChild(tr);
            }
        );
    }

</script>
