﻿
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="">
    <img src="~/Images/fondo.png" class="w-100 rounded" alt="Fondo.png" />
</div>

<h2 class="LB_ConoceNuestrosProfesionales p-4">Conoce a nuestros profesionales</h2>

<div class="row">
    <div class="col-4">
        <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc vestibulum arcu sem, id viverra urna mollis sit amet.
            Aenean eleifend vel ipsum ac eleifend.
            In condimentum sagittis dolor id fermentum.
            Sed ultricies, ipsum eget ultrices laoreet, velit nisi dictum nibh, sit amet sagittis erat odio sed nisi.
            Nulla lobortis sem urna. Pellentesque condimentum arcu et dui pellentesque pellentesque.
            Ut laoreet elit eget erat sollicitudin placerat.
        </label>
    </div>

    <div class="col-8">
        <img src="~/Images/profesionales.jpg" class="rounded" alt="Alternate Text" />
    </div>
</div>
