﻿
@{
    Layout = "~/Areas/Medico/Views/Shared/MasterPage.cshtml";
}

<script>

    if (!localStorage.getItem("VerCita_IdCita")) {
        window.location = "/Medico/Agenda/Agenda";
    }

</script>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <h4 class="LB_Cita text-center">Cita</h4>
    </div>

    <div class="card-body">
        <input type="hidden" id="TB_Id" value="" />

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Fecha">Fecha</label>
                <input disabled type="text" id="TB_Fecha" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Servicio">Servicio</label>
                <input disabled type="text" id="TB_Servicio" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_HoraInicio">Hora inicio</label>
                <input disabled type="text" id="TB_HoraInicio" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_HoraFin">Hora fin</label>
                <input disabled type="text" id="TB_HoraFin" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Estado">Estado</label>
                <input disabled type="text" id="TB_Estado" class="form-control" />
            </div>

            <form id="FormEstado" class="col-md-6">
                <div class="form-group">
                    <label class="LB_Estado">Estado</label>
                    <select id="DDL_Estado" class="form-control campo_vacio">
                        <option class="LB_Seleccione" value="">Seleccione</option>
                        <option value="asistio">asistio</option>
                        <option value="no asistio">no asistio</option>
                    </select>
                </div>

                <button id="BTN_CambiarEstado" type="submit" class="material-icons btn btn-info mt-2">edit</button>
            </form>
        </div>
    </div>

    <div class="card-footer">
        <button id="BTN_Historial" class="material-icons btn btn-success">assignment</button>
    </div>
</div>

<div id="DIV_Usuario" class="card">
    <div class="card-header">
        <h4 class="LB_Usuario text-center">Usuario</h4>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label class="LB_Identificacion">Identificacion</label>
            <input disabled type="text" id="TB_Identificacion" class="form-control" />
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Nombre">Nombre</label>
                <input disabled type="text" id="TB_Nombre" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Apellido">Apellido</label>
                <input disabled type="text" id="TB_Apellido" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Edad">Edad</label>
                <input disabled type="text" id="TB_Edad" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Genero">Genero</label>
                <input disabled type="text" id="TB_Genero" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="LB_Telefono">Telefono</label>
                <input disabled type="text" id="TB_Telefono" class="form-control" />
            </div>

            <div class="form-group col-md-6">
                <label class="LB_Correo">Correo</label>
                <input disabled type="text" id="TB_Correo" class="form-control" />
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment.min.js"></script>

<script>

    var TB_Id = document.getElementById("TB_Id");
    var TB_Fecha = document.getElementById("TB_Fecha");
    var TB_Servicio = document.getElementById("TB_Servicio");
    var TB_HoraInicio = document.getElementById("TB_HoraInicio");
    var TB_HoraFin = document.getElementById("TB_HoraFin");
    var TB_Estado = document.getElementById("TB_Estado");
    var DDL_Estado = document.getElementById("DDL_Estado");
    var FormEstado = $("#FormEstado");
    var BTN_CambiarEstado = document.getElementById("BTN_CambiarEstado");
    var BTN_Historial = document.getElementById("BTN_Historial");

    var DIV_Usuario = document.getElementById("DIV_Usuario");
    var TB_Identificacion = document.getElementById("TB_Identificacion");
    var TB_Nombre = document.getElementById("TB_Nombre");
    var TB_Apellido = document.getElementById("TB_Apellido");
    var TB_Edad = document.getElementById("TB_Edad");
    var TB_Genero = document.getElementById("TB_Genero");
    var TB_Correo = document.getElementById("TB_Correo");
    var TB_Telefono = document.getElementById("TB_Telefono");

    DIV_Usuario.style.display = "none";

    var cita = null;
    var usuario = null;

    TB_Id.value = localStorage.getItem("VerCita_IdCita");
    localStorage.removeItem("VerCita_IdCita");

    getCita();
    getUsuario();

    FormEstado.submit(
        function (event) {
            event.preventDefault();

            FormEstado.validate();

            if (FormEstado.valid()) {
                var url = "/Medico/VerCita/updateEstado";

                var data = {
                    IdCita: TB_Id.value,
                    Estado: DDL_Estado.options[DDL_Estado.selectedIndex].value,
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(
                    function (respuesta) {
                        if (respuesta.Estado == MENSAJE_CORRECTO) {
                            TB_Estado.value = DDL_Estado.options[DDL_Estado.selectedIndex].value;
                        }

                        mostrarMensajeRespuestaPost(respuesta);
                    }
                ).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    function getCita() {
        var url = "/Medico/VerCita/getCita";

        var data = {
            IdCita: TB_Id.value
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    cita = respuesta.Data;
                    mostrarCita();
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function getUsuario() {
        var url = "/Medico/VerCita/getUsuario";

        var data = {
            IdCita: TB_Id.value
        };

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    usuario = respuesta.Data;
                    mostrarUsuario();
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCita() {
        TB_Fecha.value = cita.Fecha;
        TB_Servicio.value = cita.Servicio;
        TB_HoraInicio.value = moment(cita.HoraInicio, "HH:mm").format("hh:mm a");
        TB_HoraFin.value = moment(cita.HoraFin, "HH:mm").format("hh:mm a");
        TB_Estado.value = cita.Estado;

        var limiteInferior = moment(cita.Fecha + " " + cita.HoraInicio, "DD/MM/YYYY HH:mm");
        var limiteSuperior = moment(cita.Fecha, "DD/MM/YYYY").add(1, "day");

        if (!(moment() >= limiteInferior && moment() <= limiteSuperior && cita.IdUsuario != -1)) {
            DDL_Estado.setAttribute("disabled", "disabled");
            BTN_CambiarEstado.setAttribute("disabled", "disabled");
            BTN_Historial.setAttribute("disabled", "disabled");
        }

    }

    function mostrarUsuario() {
        if (usuario.Id != -1) {
            DIV_Usuario.style.display = "block";
            TB_Identificacion.value = usuario.Identificacion;
            TB_Nombre.value = usuario.Nombre;
            TB_Apellido.value = usuario.Apellido;
            TB_Edad.value = moment(usuario.FechaNacimiento).fromNow(true);
            TB_Genero.value = usuario.Genero;
            TB_Correo.value = usuario.Correo;
            TB_Telefono.value = usuario.Telefono;
        }
        else {
            DIV_Usuario.style.display = "none";
        }
    }

    BTN_Historial.addEventListener("click",
        function (event) {
            event.preventDefault();
            localStorage.setItem("Historial_IdCita", TB_Id.value);
            window.location = "/Medico/Historial/Historial";
        }
    );
</script>