﻿body {
}

.max-width-form{
    max-width: 300px;
    margin: 0 auto;
}

.disabled {
    cursor: not-allowed;
}

.material-icons{
    font-size: 20px;
}

input:disabled, button:disabled {
    cursor: not-allowed;
}

.red-lighten-4 {
    background-color: #fcdde0;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: flex;
    align-items: center;
    justify-content: center;
}


.ui-datepicker{
    /*font-size: 1.5rem !important;*/
    /*transform: scale(1.3);*/
    font-size: 1.3rem !important;
}

/*.ui-datepicker td a {
    background-color: white !important;
}*/

.ui-state-default {
    border-radius: 3px;
    
}

/*.ui-state-default:hover{
    transition: 0.3s;
    transform: scale(1.3);
}

.ui-datepicker .ui-state-active {
    background-color: orangered !important;*/
}