﻿
@{
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<script>

    if (!localStorage.getItem("ReprogramarCita_IdCita")) {
        window.location = "/Usuario/CitasAgendadas/CitasAgendadas";
    }

</script>

<h2 class="LB_ReprogramarCita p-4 text-center">Reprogramar Cita</h2>

<div class="d-flex align-items-center flex-column">
    <div class="col-md-6">
        <h2 id="LB_FechaSeleccionada" class="text-center"></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <div id="Calendario">

        </div>
    </div>

    <div class="col-md-6">
        <div id="GV_Citas">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <td class="LB_HoraInicio">Hora inicio</td>
                        <td class="LB_HoraFin">Hora fin</td>
                        <td class="LB_Medico">Médico</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>

    </div>
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script>

    var Id_Especialidad = -1;
    var IdCitaOld = localStorage.getItem("ReprogramarCita_IdCita");

    var calendario = $("#Calendario").datepicker({
        onSelect: calendarioClick,
        minDate: "+0D",
        maxDate: "+100Y",
        changeMonth: true,
        changeYear: true,
    });

    function agregarCitaClick(event) {

        var idCitaNew = event.target.getAttribute("IdCita");
        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var url = "@Url.Action("reprogramarCitaFinal", "ReprogramarCita", new { area="Usuario" })";

        var data = {
            Acceso: acceso,
            IdCitaNew: idCitaNew,
            idCitaOld: IdCitaOld
        }

        confirm("Está seguro que desea cambiar la cita?");

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    localStorage.getItem("ReprogramarCita_IdCita", -1);
                    window.location = "/Usuario/CitasAgendadas/CitasAgendadas";
                }    
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function calendarioClick(element, event) {
        mostrarFechaSeleccionada();
        buscarAgenda();
    }

    function mostrarFechaSeleccionada() {
        var fechaSeleccionada = moment($("#Calendario").datepicker("getDate"));
        document.getElementById("LB_FechaSeleccionada").textContent = fechaSeleccionada.format("DD/MM/YYYY");
    }

    function buscarAgenda() {
        getCitasDisponibles(moment($("#Calendario").datepicker("getDate")).format("DD/MM/YYYY"), IdCitaOld);
    }

    function getCitasDisponibles(fecha, idCitaOld) {
        var url = "@Url.Action("getCitasDisponibles", "ReprogramarCita", new { area="Usuario" })";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            Fecha: fecha,
            Acceso: acceso,
            IdCitaOld: idCitaOld
        }

        $.post(url, data).done(
            function (respuesta) {
                mostrarCitas(respuesta.Data);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCitas(citas) {
        var tbody = GV_Citas.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadCitas = citas.length;

        if (cantidadCitas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "4");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        citas.forEach(
            function (cita) {
                var tr = document.createElement("tr");

                var tdHoraInicio = document.createElement("td");
                var tdHoraFin = document.createElement("td");
                var tdMedico = document.createElement("td");
                var btn = document.createElement("button");

                tdHoraInicio.textContent = moment(cita.HoraInicio, "HH:mm").format("hh:mm a");
                tdHoraFin.textContent = moment(cita.HoraFin, "HH:mm").format("hh:mm a");
                tdMedico.textContent = cita.EMedico.Nombre + " " + cita.EMedico.Apellido;

                btn.setAttribute("IdCita", cita.Id);
                btn.className = "material-icons btn btn-primary";
                btn.textContent = "add";
                btn.addEventListener("click", agregarCitaClick);

                tr.appendChild(tdHoraInicio);
                tr.appendChild(tdHoraFin);
                tr.appendChild(tdMedico);
                tr.appendChild(btn);

                tbody.appendChild(tr);
            }
        );
    }
</script>

