
/* Configuraciones generales */
* {
    /*padding: 0;
    box-sizing: border-box;
    font-family: "arial", sans-serif;*/
    --color_principal: #ff9800;
    --color_secundario: #ec407a;
    /*margin: 0;*/
}

html{
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

ul{
    list-style: none;
}
/*th{
    padding: 4px 6px;
}
td{
    padding: 0 5px;
}*/

.max-form{
    max-width: 300px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.flex_vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

/*.crear_cuenta {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;
}*/

.contenido {
    width: 90%;
    margin: 20px auto;
    padding-top: 50px;
}

.titulo {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: var(--color_principal);
}

.subtitulo {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: var(--color_secundario);
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

[class*="DDL"]{
    min-width: 100px;
}

/*  Botones     */

.BTN_Comun {
    background-color: var(--color_principal);
    color: white;
    border: 1px solid var(--color_principal);
    /*margin: 7px;*/
    border-radius: 5px;
}
.BTN_Secundario {
    background-color: var(--color_secundario);
    color: white;
    border: 1px solid var(--color_secundario);
    /*margin: 7px;*/
    border-radius: 5px;
}
.BTN_Rojo {
    background-color: #e7475e;
    color: white;
    border: 1px solid #e22e48;
    /*margin: 7px;*/
    border-radius: 5px;
}
.BTN_Azul {
    background-color: #39a8ec;
    color: white;
    border: 1px solid #169bec;
    /*margin: 7px;*/
    border-radius: 5px;
}

/*[class*="BTN"] {
    padding: 5px;
    font-weight: bold;
}
[class*="BTN"]:hover {
    filter: brightness(1.3);
    cursor: pointer;
    filter: hue-rotate(180deg);
}*/

/*  Campos de texto     */
[class*="TB"]{
    padding-left: 5px;
    min-width: 300px;
}

[class*="TB"], select, option{
    font-size: 1.2rem;
}

.dato{
    display: block;
    background-color: aquamarine;
    padding: 5px;
    font-weight: bold;
}

.clave_valor{
    padding: 5px;
}

.INSERT{
    background-color: rgb(217, 237, 247);
    color: rgb(50, 112, 145);
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
}
.UPDATE {
    background-color: rgb(223, 240, 216);
    color: rgb(61, 118, 62);
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
}
.DELETE {
    background-color: rgb(242, 222, 222);
    color: rgb(184, 68, 66);
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
}