﻿
@{
    Layout = "~/Areas/Medico/Views/Shared/MasterPage.cshtml";
}

<h2 class="LB_Agenda p-4 text-center">Agenda</h2>
   

<div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <div id="Calendario">

        </div>
    </div>

    <div class="col-md-6">
        <h2 id="LB_FechaSeleccionada" class="text-center p-4"></h2>

        <div id="GV_Citas">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td class="LB_HoraInicio">Hora inicio</td>
                        <td class="LB_HoraFin">Hora fin</td>
                        <td class="LB_Usuario">Usuario</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script>

    var GV_Citas = document.getElementById("GV_Citas");

    var calendario = $("#Calendario").datepicker({
        onSelect: calendarioClick
    });

    mostrarFechaSeleccionada();
    buscarAgenda();

    function calendarioClick(element, event) {
        mostrarFechaSeleccionada();
        buscarAgenda();
    }

    function mostrarFechaSeleccionada() {
        var fechaSeleccionada = moment($("#Calendario").datepicker("getDate"));
        document.getElementById("LB_FechaSeleccionada").textContent = fechaSeleccionada.format("DD/MM/YYYY");
    }

    function buscarAgenda() {
        getAgenda(moment($("#Calendario").datepicker("getDate")).format("DD/MM/YYYY"));
    }

    function getAgenda(fecha) {
        var url = "@Url.Action("getAgenda", "Agenda", new { area="Medico" })";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            IdAcceso: acceso.Id,
            Fecha: fecha
        }

        $.post(url, data).done(
            function (respuesta) {
                mostrarCitas(respuesta.Data);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCitas(citas) {
        var tbody = GV_Citas.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadCitas = citas.length;

        if (cantidadCitas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "4");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        citas.forEach(
            function (cita) {
                var tr = document.createElement("tr");

                var tdHoraInicio = document.createElement("td");
                var tdHoraFin = document.createElement("td");
                var tdPaciente = document.createElement("td");
                var btn = document.createElement("button");

                tdHoraInicio.textContent = moment(cita.HoraInicio, "HH:mm").format("hh:mm a");
                tdHoraFin.textContent = moment(cita.HoraFin, "HH:mm").format("hh:mm a");
                tdPaciente.textContent = cita.EUsuario.Nombre + " " + cita.EUsuario.Apellido;

                btn.setAttribute("IdCita", cita.Id);
                btn.className = "material-icons btn btn-info";
                btn.textContent = "visibility";
                btn.addEventListener("click", verCitaClick);

                tr.appendChild(tdHoraInicio);
                tr.appendChild(tdHoraFin);
                tr.appendChild(tdPaciente);
                tr.appendChild(btn);

                tbody.appendChild(tr);
            }
        );
    }

    function verCitaClick(event) {
        var id = event.target.getAttribute("IdCita");
        verCita(id);
    }

    function verCita(idCita) {
        localStorage.setItem("VerCita_IdCita", idCita);
        window.location = "/Medico/VerCita/VerCita";
    }

</script>