﻿
@{
    Layout = null;
}


<link rel="stylesheet" href="~/Content/bootstrap4.min.css">
<script src="~/Scripts/bootstrap.min.js"></script>

<!DOCTYPE html>

<html>
    <head>
        <title>WebService</title>
    </head>

    <body>
        <h1 class="text-center font-weight-bold text-black-50" style="font-family: helvetica;">Servicios Brais</h1>
        <div class="d-flex flex-column bg-dark">
            <div>
                <a href="~/Servicios/BraisServicioHorario.asmx" class="btn btn-link">Servicio Horario</a>
            </div>
            <div>
                <a href="~/Servicios/BraisServicioMedicos.asmx" class="btn btn-link">Servicio Médico</a>
            </div>
            <div>
                <a href="~/Servicios/BraisServicioGestorCitas.asmx" class="btn btn-link">Servicio Gestor Citas</a>
            </div>
        </div>
    </body>
</html>
