﻿@{
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<style>
    #calendar .disponible {
        border-width: 2px;
        border-style: solid;
        border-color: red;
    }
</style>

<h2 class="LB_AsignarCita p-4 text-center">Asignar Cita</h2>

<div class="d-flex align-items-center flex-column" style="padding-bottom:20px" id="ContenedorInformacion">

    <div class="d-flex align-items-start" style="width:400px; padding:5px">
        <img src="~/Images/uno.svg" style="width:30px" />
        <label class="LB_AsignarCitaPasoUno m-0" style="margin-left:10px; padding-left:5px"> Seleccione el tipo de servicio </label>
    </div>
    <div class="d-flex align-items-start" style="width:400px; padding:5px">
        <img src="~/Images/dos.svg" style="width:30px" />
        <label class="LB_AsignarCitaPasoDos m-0" style="margin-left:10px; padding-left:5px">Seleccione un día para ver si hay agenda disponible </label>
    </div>
    <div class="d-flex align-items-start" style="width:400px; padding:5px">
        <img src="~/Images/tres.svg" style="width:30px" />
        <label class="LB_AsignarCitaPasoTres m-0" style="margin-left:10px; padding-left:5px">Seleccione una cita segun la disponibilidad</label>
    </div>
    <div class="d-flex align-items-start" style="width:400px; padding:5px">
        <img src="~/Images/informacion.svg" style="width:30px" />
        <label class="LB_AsignarCitaInformacion m-0" style="margin-left:10px; padding-left:5px">
            Tenga en cuenta, Solo puede agendar una cita por tipo
        </label>
    </div>
</div>


<div class="row pt-5">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="d-flex align-items-center flex-column">
            <label class="LB_Servicio">Servicio:</label>
            <div id="DDL_Servicio">

            </div>
        </div>

        <div id="Calendario">

        </div>
    </div>

    <div class="col-md-6">
        <div class="d-flex align-items-center flex-column">
            <div class="col-md-6">
                <h2 id="LB_FechaSeleccionada" class="text-center"></h2>
                <h2 id="LB_Especialidad" class="text-center"></h2>
            </div>
        </div>

        <div id="GV_Citas">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <td class="LB_HoraInicio">Hora inicio</td>
                        <td class="LB_HoraFin">Hora fin</td>
                        <td class="LB_Medico">Médico</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody class="text-center"></tbody>
            </table>
        </div>

    </div>
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script>

    var DDL_Servicio = $("#DDL_Servicio");
    var Id_Especialidad = -1;
    var Nombre_Especialidad = "";

    mostrarEspecialidades();
    mostrarCitas([]);

    var calendario = $("#Calendario").datepicker({
        onSelect: calendarioClick,
        minDate: "+0D",
        maxDate: "+100Y",
        changeMonth: true,
        changeYear: true,
    });

    function mostrarEspecialidades() {
        var url = "@Url.Action("getDDLServicio", "AsignarCita", new { area = "Usuario" })";

        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    $("#DDL_Servicio").html(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    DDL_Servicio.change(
        function (event) {
            event.preventDefault();
            Id_Especialidad = $("#Especialidad option:selected").val();
            Nombre_Especialidad = $("#Especialidad option:selected").text();
        }
    );

    function calendarioClick(element, event) {
        mostrarFechaSeleccionada();
        buscarAgenda();
    }

    function mostrarFechaSeleccionada() {
        var fechaSeleccionada = moment($("#Calendario").datepicker("getDate"));
        document.getElementById("LB_FechaSeleccionada").textContent = fechaSeleccionada.format("DD/MM/YYYY");
        document.getElementById("LB_Especialidad").textContent = Nombre_Especialidad;
    }

    function buscarAgenda() {
        getAsignarCita(moment($("#Calendario").datepicker("getDate")).format("DD/MM/YYYY"), Id_Especialidad);
    }

    function getAsignarCita(fecha, idEspecialidad) {
        var tbody = GV_Citas.querySelector("tbody");
        tbody.innerHTML = "";
        tbody.appendChild(espera());

        var url = "@Url.Action("getAsignarCita", "AsignarCita", new { area="Usuario" })";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            IdAcceso: acceso.Id,
            Fecha: fecha,
            IdEspecialidad: idEspecialidad
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarCitas(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarCitas(citas) {
        var tbody = GV_Citas.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadCitas = citas.length;

        if (cantidadCitas == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "4");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        citas.forEach(
            function (cita) {
                var tr = document.createElement("tr");

                var tdHoraInicio = document.createElement("td");
                var tdHoraFin = document.createElement("td");
                var tdMedico = document.createElement("td");
                var btn = document.createElement("button");

                tdHoraInicio.textContent = moment(cita.HoraInicio, "HH:mm").format("hh:mm a");
                tdHoraFin.textContent = moment(cita.HoraFin, "HH:mm").format("hh:mm a");
                tdMedico.textContent = cita.EMedico.Nombre + " " + cita.EMedico.Apellido;

                btn.setAttribute("IdCita", cita.Id);
                btn.className = "material-icons btn btn-primary";
                btn.textContent = "add";
                btn.addEventListener("click", validarCitaClick);

                tr.appendChild(tdHoraInicio);
                tr.appendChild(tdHoraFin);
                tr.appendChild(tdMedico);
                tr.appendChild(btn);

                tbody.appendChild(tr);
            }
        );
    }

    function validarCitaClick(event) {
        var id = event.target.getAttribute("IdCita");
        var url = "@Url.Action("validarCita", "AsignarCita", new { area="Usuario" })";

        var data = {
            idCita: id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta) {
                    if (respuesta.Estado == MENSAJE_CORRECTO) {
                        confirmarCita(id);
                    }
                }
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function confirmarCita(idCita) {
        localStorage.setItem("ConfirmarCita_IdCita", idCita);
        window.location = "/Usuario/ConfirmarCita/ConfirmarCita";
    }

</script>
