﻿
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_SobreNosotros p-4">Sobre nosotros</h2>

<div class="row">
    <div class="col-4">
        <img src="~/Images/sobreNosotros.png" class="w-100" alt="sobreNosotros.png" />
    </div>

    <div class="col-8 d-flex flex-column">
        <div>
            <h2 class="LB_Mision">Mision:</h2>

            <p class="LB_MensajeMision">
                Brais es una herramienta a dispocisión de los ciudadanos que quiere brindar la oportunidad a sus pacientes
                de sacar citas sin complicaciones.
            </p>
        </div>

        <div>
            <h2 class="LB_Vision">Vision:</h2>

            <p class="LB_MensajeVision">
                Para noviembre de 2018 ser unos estudiantes que pasen el limpio el semestre.
                Siendo reconocidos a nivel maestral.
            </p>
        </div>
    </div>
</div>

