﻿
@{
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_GestionarConsultorios p-4 text-center">Gestionar consultorios</h2>

<div class="p-4" id="ContenedorAgregar">
    <form id="FormAgregarConsultorio" class="card">
        <div class="card-header">
            <h4 class="LB_Agregar text-center">Agregar</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group col-md">
                    <label class="LB_Nombre">Nombre</label>
                    <input type="text" name="Nombre" class="form-control campo_vacio caracteres_especiales" />
                </div>

                <div class="form-group col-md">
                    <label class="LB_Descripcion">Descripcion</label>
                    <input type="text" name="Descripcion" class="form-control campo_vacio caracteres_especiales" />
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button class="material-icons btn btn-success" type="submit">add</button>
            </div>
        </div>
    </form>
</div>

<div class="p-4" id="ContenedorModificar">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-11">
                    <h4 class="LB_Modificar text-center">Modificar</h4>
                </div>

                <div class="col-1">
                    <button onclick="ocultarContenedorModificarClick(event)" class="material-icons btn btn-danger">close</button>
                </div>
            </div>
        </div>

        <form id="FormModificarConsultorio" class="card-body">
            <input type="hidden" name="Id" value="" />

            <div class="row">
                <div class="form-group col-md">
                    <label class="LB_Nombre">Nombre</label>
                    <input type="text" name="Nombre" class="form-control campo_vacio caracteres_especiales" />
                </div>

                <div class="form-group col-md">
                    <label class="LB_Descripcion">Descripcion</label>
                    <input type="text" name="Descripcion" class="form-control campo_vacio caracteres_especiales" />
                </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Disponibilidad" name="Disponibilidad">
                    <label class="LB_Disponibilidad custom-control-label" for="Disponibilidad">Disponibilidad</label>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button class="material-icons btn btn-info" type="submit">edit</button>
            </div>
        </form>
    </div>
</div>

<form id="FormBuscar" class="form-inline justify-content-center p-4">
    <div class="d-flex flex-column">
        <input class="form-control caracteres_especiales" type="search" id="ParametroBusqueda" name="ParametroBusqueda" value="" />
    </div>

    <button class="material-icons btn btn-primary">search</button>
</form>

<div id="GVConsultorios" class="d-flex justify-content-center">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="LB_Nombre">Nombre</th>
                <th class="LB_Descripcion">Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script>

    var ContenedorAgregar = $("#ContenedorAgregar");
    var FormAgregarConsultorio = $("#FormAgregarConsultorio");

    var ContenedorModificar = $("#ContenedorModificar");
    var FormModificarConsultorio = $("#FormModificarConsultorio");

    var FormBuscar = $("#FormBuscar");

    var GVConsultorios = document.getElementById("GVConsultorios");

    mostrarContenedorAgregar();

    buscar("");

    
    FormAgregarConsultorio.submit(
        function (event) {
            event.preventDefault();

            FormAgregarConsultorio.validate();

            if (FormAgregarConsultorio.valid()) {
                var url = "/Administrador/Consultorios/addConsultorio"

                var data = {
                    Nombre: FormAgregarConsultorio.find("[name=Nombre]")[0].value.trim(),
                    Descripcion: FormAgregarConsultorio.find("[name=Descripcion]")[0].value.trim(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(
                    function (respuesta) {
                        if (respuesta.Estado == MENSAJE_CORRECTO) {
                            FormAgregarConsultorio[0].reset();
                            buscar(FormAgregarConsultorio.find("[name=Nombre]")[0].value.trim());
                        }

                        mostrarMensajeRespuestaPost(respuesta);
                    }
                ).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormModificarConsultorio.submit(
        function (event) {
            event.preventDefault();

            FormModificarConsultorio.validate();

            if (FormModificarConsultorio.valid()) {
                var url = "/Administrador/Consultorios/updateConsultorio";

                var data = {
                    Id: FormModificarConsultorio.find("[name=Id]")[0].value.trim(),
                    Nombre: FormModificarConsultorio.find("[name=Nombre]")[0].value.trim(),
                    Descripcion: FormModificarConsultorio.find("[name=Descripcion]")[0].value.trim(),
                    Disponibilidad: FormModificarConsultorio.find("[name=Disponibilidad]")[0].checked,
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(
                    function (respuesta) {
                        if (respuesta.Estado == MENSAJE_CORRECTO) {
                            buscar(FormModificarConsultorio.find("[name=Nombre]")[0].value.trim());
                            mostrarContenedorAgregar();
                        }
                        mostrarMensajeRespuestaPost(respuesta);
                    }
                ).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormBuscar.submit(
        function (event) {
            event.preventDefault();
            FormBuscar.validate();
            if (FormBuscar.valid()) {
                buscar(document.getElementById("ParametroBusqueda").value.trim());
            }
        }
    );

    function buscar(parametro) {
        var url = "/Administrador/Consultorios/buscar";

        $.post(url, { Parametro: parametro }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarConsultorios(respuesta.Data);
                }
                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarConsultorios(consultorios) {
        var tbody = GVConsultorios.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadConsultorios = consultorios.length;

        if (cantidadConsultorios == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "3");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        consultorios.forEach(
            function (consultorio) {
                var tr = document.createElement("tr");
                tr.setAttribute("IdConsultorio", consultorio.Id);

                var tdNombre = document.createElement("td");
                var tdDescripcion = document.createElement("td");
                var tdBotones = document.createElement("td");
                var btnModificar = document.createElement("button");
                var btnEliminar = document.createElement("button");

                tdNombre.textContent = consultorio.Nombre;
                tdDescripcion.textContent = consultorio.Descripcion;

                btnModificar.setAttribute("IdConsultorio", consultorio.Id);
                btnModificar.addEventListener("click", modificarConsultorioClick);
                btnModificar.textContent = "edit";
                btnModificar.className = "material-icons btn btn-info";

                btnEliminar.setAttribute("IdConsultorio", consultorio.Id);
                btnEliminar.addEventListener("click", eliminarConsultorioClick);
                btnEliminar.textContent = "delete_forever";
                btnEliminar.className = "material-icons btn btn-danger";

                tdBotones.appendChild(btnModificar);
                tdBotones.appendChild(btnEliminar);

                tr.appendChild(tdNombre);
                tr.appendChild(tdDescripcion);
                tr.appendChild(tdBotones);

                tbody.appendChild(tr);
            }
        );
    }

    function modificarConsultorioClick(event) {
        event.preventDefault();
        var idConsultorio = event.target.getAttribute("IdConsultorio");
        
        var url = "/Administrador/Consultorios/getConsultorio";

        $.post(url, { IdConsultorio: idConsultorio }).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    FormModificarConsultorio.find("[name=Id]")[0].value = respuesta.Data.Id;
                    FormModificarConsultorio.find("[name=Nombre]")[0].value = respuesta.Data.Nombre;
                    FormModificarConsultorio.find("[name=Descripcion]")[0].value = respuesta.Data.Descripcion;
                    $("#Disponibilidad").prop("checked", respuesta.Data.Disponibilidad);

                    mostrarContenedorModificar();
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function ocultarContenedorModificarClick(event) {
        mostrarContenedorAgregar();
    }

    function mostrarContenedorAgregar() {
        ContenedorModificar.hide();
        ContenedorAgregar.show();
    }

    function mostrarContenedorModificar() {
        ContenedorModificar.show();
        ContenedorAgregar.hide();
    }

    var idConsultorioParaEliminar = 0;

    function eliminarConsultorioClick(event) {
        event.preventDefault();
        idConsultorioParaEliminar = event.target.getAttribute("IdConsultorio");
        
        var url = "/Administrador/Consultorios/deleteConsultorio";

        var data = {
            IdConsultorio: idConsultorioParaEliminar,
            IdAcceso: getAcceso().Id
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    if ($("tr[IdConsultorio=" + idConsultorioParaEliminar + "]")) {
                        $("tr[IdConsultorio=" + idConsultorioParaEliminar + "]").remove();
                    }

                    if (FormModificarConsultorio.find("[name=Id]")[0].value == idConsultorioParaEliminar) {
                        mostrarContenedorAgregar();
                    }
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

</script>

