﻿
@{
    Layout = "~/Areas/Administrador/Views/MasterPage/MasterPage.cshtml";
}

<h2 class="LB_GestionarParametros p-4 text-center">Gestionar parametros</h2>

<div class="card mb-4">
    <div class="card-header">
        <h4 class="LB_Acceso">Acceso</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form id="FormSesionesSimultaneas">
                    <div class="form-group">
                        <label class="LB_CantidadSesiones">Sesiones simultaneas</label>
                        <input type="text" name="Sesiones" value="" class="form-control campo_vacio solo_numeros"/>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form id="FormIntentosAcceso">
                    <div class="form-group">
                        <label class="LB_IntentosAcceso">Intentos de acceso</label>
                        <input type="text" name="IntentosAcceso" value="" class="form-control campo_vacio solo_numeros" />
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h4 class="LB_Horario">Horario</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form id="FormDiasLaborales">
                    <div class="custom-control custom-checkbox">
                        <input dia="1" type="checkbox" class="custom-control-input" id="chLunes" name="DiaLaboral">
                        <label class="LB_Lunes custom-control-label" for="chLunes">Lunes</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="2" type="checkbox" class="custom-control-input" id="chMartes" name="DiaLaboral">
                        <label class="LB_Martes custom-control-label" for="chMartes">Martes</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="3" type="checkbox" class="custom-control-input" id="chMiercoles" name="DiaLaboral">
                        <label class="LB_Miercoles custom-control-label" for="chMiercoles">Miercoles</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="4" type="checkbox" class="custom-control-input" id="chJueves" name="DiaLaboral">
                        <label class="LB_Jueves custom-control-label" for="chJueves">Jueves</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="5" type="checkbox" class="custom-control-input" id="chViernes" name="DiaLaboral">
                        <label class="LB_Viernes custom-control-label" for="chViernes">Viernes</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="6" type="checkbox" class="custom-control-input" id="chSabado" name="DiaLaboral">
                        <label class="LB_Sabado custom-control-label" for="chSabado">Sabado</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input dia="0" type="checkbox" class="custom-control-input" id="chDomingo" name="DiaLaboral">
                        <label class="LB_Domingo custom-control-label" for="chDomingo">Domingo</label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form id="FormHorario">
                    <div class="form-group">
                        <label class="LB_HoraInicio">Hora inicio</label>

                        <select id="HoraInicio" name="HoraInicio" class="form-control campo_vacio">
                            <option class="LB_Seleccione" value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="LB_HoraFin">Hora fin</label>

                        <select id="HoraFin" name="HoraFin" class="form-control campo_vacio">
                            <option class="LB_Seleccione" value="">Seleccione</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="LB_Cita">Cita</h4>
    </div>

    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4">
                <form id="FormDuracionCitas">
                    <div class="form-group">
                        <label class="LB_Duracion">Duracion</label>

                        <select id="Duracion" name="Duracion" class="form-control campo_vacio">
                            <option class="LB_Seleccione" value="">Seleccione</option>
                            <option value="20">20 min</option>
                            <option value="30">30 min</option>
                            <option value="40">40 min</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="material-icons btn btn-info">edit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form id="FormGenerarCitas">
                    <div class="d-flex justify-content-center">
                        <button class="LB_GenerarCitas btn btn-danger">Generar citas</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment.min.js"></script>

<script>

    var FormSesionesSimultaneas = $("#FormSesionesSimultaneas");
    var FormIntentosAcceso = $("#FormIntentosAcceso");
    var FormDiasLaborales = $("#FormDiasLaborales");
    var FormHorario = $("#FormHorario");
    var FormDuracionCitas = $("#FormDuracionCitas");
    var FormGenerarCitas = $("#FormGenerarCitas");

    obtenerParametros();

    function obtenerParametros() {
        var url = "@Url.Action("getParametros", "Parametros", new { area="Administrador" })";

        $.post(url).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    mostrarParametros(respuesta.Data);
                }

                mostrarMensajeRespuestaPost(respuesta);
            }
        ).fail(mostrarErrorRespuestaPost);
    }

    function mostrarParametros(parametros) {
        FormSesionesSimultaneas.find("[name=Sesiones]")[0].value = parametros.Sesiones;
        FormIntentosAcceso.find("[name=IntentosAcceso]")[0].value = parametros.IntentosIngreso;

        var checksDiasLaborales = FormDiasLaborales.find("[name=DiaLaboral]");

        console.log(parametros);

        parametros.DiasLaborales.forEach(
            function (element, index) {
                document.querySelector("input[dia='" + element + "']").checked = true;
            }
        );

        var selectHoraInicio = FormHorario.find("[name=HoraInicio]")[0];
        var selectHoraFin = FormHorario.find("[name=HoraFin]")[0];

        var horaAux = moment("01:00", "HH:mm");

        while (horaAux <= moment("23:00", "HH:mm")) {
            var option1 = document.createElement("option");
            option1.innerText = horaAux.format("hh:mm a");
            option1.value = horaAux.format("HH:mm");

            var option2 = document.createElement("option");
            option2.innerText = horaAux.format("hh:mm a");
            option2.value = horaAux.format("HH:mm");

            selectHoraInicio.appendChild(option1);
            selectHoraFin.appendChild(option2);
            horaAux.add(1, "hours");
        }

        var horaInicio = moment(parametros.HoraInicio, "HH:mm");
        var horaFin = moment(parametros.HoraFin, "HH:mm");

        selectHoraInicio.childNodes.forEach(
            function (element) {
                if (element.value == horaInicio.format("HH:mm")) {
                    element.selected = true;
                }
            }
        );

        selectHoraFin.childNodes.forEach(
            function (element) {
                if (element.value == horaFin.format("HH:mm")) {
                    element.selected = true;
                }
            }
        );

        var selectDuracionCitas = FormDuracionCitas.find("[name=Duracion]")[0];

        selectDuracionCitas.childNodes.forEach(
            function (element) {
                if (element.value == parametros.DuracionCitas) {
                    element.selected = true;
                }
            }
        );
    }

    FormSesionesSimultaneas.submit(
        function (event) {
            event.preventDefault();

            FormSesionesSimultaneas.validate();

            if (FormSesionesSimultaneas.valid()) {
                var url = "@Url.Action("updateSesionesSimultaneas", "Parametros", new { area="Administrador" })";

                var data = {
                    Sesiones: FormSesionesSimultaneas.find("[name=Sesiones]")[0].value.trim(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormIntentosAcceso.submit(
        function (event) {
            event.preventDefault();

            FormIntentosAcceso.validate();

            if (FormIntentosAcceso.valid()) {
                var url = "@Url.Action("updateIntentosAcceso", "Parametros", new { area="Administrador" })";

                var data = {
                    IntentosAcceso: FormIntentosAcceso.find("[name=IntentosAcceso]")[0].value.trim(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormDiasLaborales.submit(
        function (event) {
            event.preventDefault();

            FormDiasLaborales.validate();

            if (FormDiasLaborales.valid()) {
                var url = "@Url.Action("updateDiasLaborales", "Parametros", new { area="Administrador" })";

                var diasLaborales = [];

                FormDiasLaborales.find("[name=DiaLaboral]").each(
                    function (index, element) {
                        if (element.checked) {
                            diasLaborales.push(element.getAttribute("dia"));
                        }
                    }
                );

                var data = {
                    DiasLaborales: diasLaborales,
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormHorario.submit(
        function (event) {
            event.preventDefault();

            FormHorario.validate();

            if (FormHorario.valid()) {
                var url = "@Url.Action("updateHorario", "Parametros", new { area="Administrador" })";

                var data = {
                    HoraInicio: $("#HoraInicio option:selected").val(),
                    HoraFin: $("#HoraFin option:selected").val(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormDuracionCitas.submit(
        function (event) {
            event.preventDefault();

            FormDuracionCitas.validate();

            if (FormDuracionCitas.valid()) {
                var url = "@Url.Action("updateDuracionCitas", "Parametros", new { area="Administrador" })";

                var data = {
                    Duracion: $("#Duracion option:selected").val(),
                    IdAcceso: getAcceso().Id
                }

                $.post(url, data).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );

    FormGenerarCitas.submit(
        function (event) {
            event.preventDefault();

            FormGenerarCitas.validate();

            if (FormGenerarCitas.valid()) {
                var url = "@Url.Action("generarCitas", "Parametros", new { area="Administrador" })";

                $.post(url, { IdAcceso: getAcceso().Id}).done(mostrarMensajeRespuestaPost).fail(mostrarErrorRespuestaPost);
            }
        }
    );


</script>