﻿
@{
    Layout = "~/Areas/Usuario/Views/Shared/MasterPage.cshtml";
}

<h2 class="LB_Historial p-4 text-center">Historial</h2>

<form id="FormBuscar" class="form-inline justify-content-center p-4">
    <div class="d-flex flex-column">
        <input class="form-control caracteres_especiales" type="search" id="ParametroBusqueda" name="ParametroBusqueda" value="" />
    </div>

    <button class="material-icons btn btn-primary">search</button>
</form>

<div id="GV_Historial" class="p-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="LB_Fecha">Fecha</th>
                <th class="LB_Hora">Hora</th>
                <th class="LB_Servicio">Servicio</th>
                <th class="LB_Datos">Datos</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
</div>

<script>

    var GV_Historial = document.getElementById("GV_Historial");
    var FormBuscar = $("#FormBuscar");

    buscarHistorial(" ");

    function buscarHistorial(parametro) {
        var url = "@Url.Action("mostrarHistorial", "Historial", new { area="Usuario" })";

        var acceso = JSON.parse(localStorage.getItem("Acceso"));

        var data = {
            IdAcceso: acceso.Id,
            Parametro: parametro
        }

        $.post(url, data).done(
            function (respuesta) {
                if (respuesta.Estado == MENSAJE_CORRECTO) {
                    console.log(respuesta);
                    mostrarHistorial(respuesta.Data);
                }
                else {
                    mostrarMensajeRespuestaPost(respuesta);
                }
            }).fail(mostrarErrorRespuestaPost);
    }

    FormBuscar.submit(function (e) {
        e.preventDefault();

        FormBuscar.validate();

        if (FormBuscar.valid()) {
            var parametro = FormBuscar.find("#ParametroBusqueda")[0].value;
            buscarHistorial(parametro);
        }
    });

    function mostrarHistorial(historiales) {
        var tbody = GV_Historial.querySelector("tbody");
        tbody.innerHTML = "";

        var cantidadHistorial = historiales.length;

        if (cantidadHistorial == 0) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.textContent = getTextoComponente("LB_TablaVacia");
            td.setAttribute("colspan", "3");
            td.className = "text-center";

            tr.appendChild(td);

            tbody.appendChild(tr);
        }

        historiales.forEach(
            function (historial) {
                var tr = document.createElement("tr");

                var tdFecha = document.createElement("td");
                var tdHora = document.createElement("td");
                var tdServicio = document.createElement("td");
                var tdDatos = document.createElement("td");

                tdFecha.textContent = historial.ECita.Fecha;
                tdHora.textContent = historial.ECita.HoraInicio;
                tdServicio.textContent = historial.ECita.Servicio;
                tdDatos.textContent = historial.Datos;

                tr.appendChild(tdFecha);
                tr.appendChild(tdHora);
                tr.appendChild(tdServicio);
                tr.appendChild(tdDatos);

                tbody.appendChild(tr);
            }
        );
    }

</script>

